/* @font-face {
  font-family: 'Helvetica';   字体名称
  src: url('../font/Helvetica.ttf');       字体源文件
} */
html,body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
a,button{
    border:0;
    outline:none;
}
.navbar-nav li a{
    color:#fff;
}
.navbar-nav li a:hover{
    background: none;
}
.udap{
	background: url(../img/bg/tokensale.png) no-repeat center center;
	background-size: cover;
}
.udap nav{
	overflow: hidden;
}
.udap nav a{
	color:#fff;
	text-decoration: none;
    overflow: hidden;
    height: auto;
}
.udap nav a:hover{
	color:#fff;
}
.udap-logo img{
	display: block;
    width: 42px;
    height: auto;
    float: left;
    margin-right: 10px;
}
.udap-logo span{
	line-height: 20px;
    float: left;
    font-size: 14px;
}
.udap-title{
    color:#fff;
	text-align: center;
}
.udap-title h1{
	text-align: center;
	font-size:36px;
    color:#d7b87a;
    margin:0;
    margin-top: 131px;
    margin-bottom: 25px;
}
.udap-title p{
	font-size:14px;
    color:#ffffff;
    text-align:center;
    line-height:28px;
	margin: 0 auto;
    max-width: 812px;
    margin-bottom: 60px;
}
.udap-register{
    overflow: hidden;
}
.udap-register button{
    background:none;
    font-size:18px;
    color:#ffffff;
    display: inline-block;
    border:1px solid rgba(255,255,255,0.50);
    width:298px;
    height:41px;
    text-align: center;
}
.udap-register button:hover{
    color:#ffffff;
}
/* udap-token */
.udap-token{
    margin:0;
    margin-top:143px;
    padding: 0px;
    overflow: hidden;
}
.udap-token .token-title{
    text-align: center;
    margin:0;
    font-size:36px;
    color:#d7b87a;
    margin-bottom: 25px;
}
.udap-token .token-intro{
    overflow: hidden;
}
.udap-token .token-intro p{
    font-size:14px;
    color:#ffffff;
    text-align:center;
    line-height:28px;
}
.udap-token .token-intro ul{
    padding: 0;
    margin-bottom: 20px;
}
.udap-token .token-intro li{
    list-style: none;
    font-size:14px;
    color:#888888;
    text-align:center;
    line-height:24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.udap-token .token-intro li i{
    display: inline-block;
    background: #888888;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-right: 5px;
}
.udap-token .token-intro p.bigTitle{
    font-size: 18px;
    margin-bottom: 70px;
}
.border-right{
    border-left:none;
}
.udap-token .token-subtitle{
    margin-top:34px;
    margin-bottom: 0;
    font-size:20px;
    color:#ffffff;
    text-align: center;
}
.udap-token .token-pics{
    display: block;
    overflow: hidden;
    text-align: center;
}
.udap-token .token-pic{
    display: inline-block;
    width: 250px;
    height: 250px;
}
.udap-token .token-list{

}
.container-fluid{
    padding:0; 
}
/* footer */
footer{
    height: 50px;
    line-height: 50px;
    font-size:14px;
    color:#ffffff;
    letter-spacing:0.09px;
    background:#181818;
    text-align: center;
    margin-top: 82px;
}
.case footer{
    margin-top: 0;
}

.case{
    padding-top: 70px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000;
    /* background: #000 url(../img/bg/work.png) no-repeat right center;
    background-size: 100% 100%; */
}
.case .demoCont h2{
    font-size:36px;
    color:#d7b87a;
    letter-spacing:0.2px;
    line-height:34px;
    text-align:left;
    margin:0;
    margin-bottom: 20px;
    margin-top: 86px;
}
.case h2 p{
    font-size: 18px;
    color:#fff;
    line-height: 24px;
    letter-spacing: 0.1;
    margin:0;
    margin-top: 20px;
}
.case ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.case .demoContul li{
    margin-top: 12px;
}
.case li h3{
    font-size:18px;
    color:#ffffff;
    letter-spacing:0.11px;
    text-align:left;
    margin:0;
    margin-bottom: 9px;
}
.case li h3 img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.case li p{
    font-size:14px;
    color:#888888;
    letter-spacing:0;
    line-height:20px;
    text-align:left;
    margin-bottom: 21px;
}
.case li .list p{
    font-size:14px;
    color:#888888;
    letter-spacing:0;
    line-height:20px;
    text-align:left;
    padding-left: 18px;
    margin-bottom: 0;
    background:url(../img/circle.png) no-repeat 0px 8px;
}
.case li h4{
    font-size:14px;
    color:#ffffff;
    letter-spacing:0.09px;
    line-height:22px;
    text-align:left;
    margin:0;
    margin-top:24px;
    margin-bottom: 15px;
}
.case .demoCont .download{
    border:1px solid rgba(255,255,255,0.50);
    width:229px;
    height:58px;
    background: url(../img/demo/download.png) no-repeat 20px center;
    font-size:20px;
    color:#ffffff;
    letter-spacing:-0.53px;
    text-align:left;
    padding-left: 81px;
    margin-top: 20px;
    outline: none;
}

.case .demoImg {
    overflow: hidden;
    margin-top: 34px;
    text-align: center;
}
.case .demoImg img{
    display: inline-block;
}
.case .demoImg h2{
    font-size:32px;
    color:#d7b87a;
    text-align:center;
    line-height: 45px;
    margin-top: 31px;
    margin-bottom: 22px;
}
.case .demoImg h2.media{
    width: 124px;
    margin:0 auto;
    text-align: left;
    margin-top: 31px;
    margin-bottom: 22px;
}
.case .demoImg p{
    max-width: 348px;
    margin:0 auto;
    font-size:18px;
    color:#ffffff;
    letter-spacing:0.1px;
    text-align:center;
    margin-bottom: 74px;
}
.case .demoCont{
    background: #000 url(../img/demo/demo.png) no-repeat right center;
    background-size: 100% 100%;
}


.demoCont .test h2{
    font-weight: normal;
}
.demoCont .test h3{
    font-size:24px;
    color:#ffffff;
    line-height:30px;
    text-align:left;
    font-weight: normal;
}
.demoCont .test p{
    font-size:14px;
    color:#ffffff;
    letter-spacing:0;
    text-align:left;
    line-height: 22px;
    max-width: 707px;
}
.demoCont .test p a{
    font-size:18px;
    color:#059FF5;
    padding: 15px 16px 0 0;
    text-decoration: none;
}
.icon1{
    background: url(../img/demo/1.png) no-repeat right 15px;
}
.icon2{
    background: url(../img/demo/2.png) no-repeat right 15px;
}
.icon3{
    font-size: 14px!important;
    background: url(../img/demo/3.png) no-repeat right 15px;
}
.demoCont ul{
    overflow: hidden;
}
.demoCont .test p a:hover{
    text-decoration: none;
}
li.test1 h3{
    margin-bottom: 19px;
}
li.test1 p{
    margin-bottom: 32px;
}
li.test2 h3{
    margin-bottom: 15px;
}
li.test2 p{
    margin-bottom: 36px;
}
li.test3 h3{
    margin-bottom: 19px;
}
li.test3 p{
    padding-bottom: 20px;
}
.test button{
    font-size:20px;
    color:#ffffff;
    letter-spacing:-0.53px;
    text-align:center;
    background-image:linear-gradient(0deg, #af7d00 0%, #dfc15f 100%);
    border-radius:8px;
    width:203px;
    height:54px;
    position: relative;
    margin-bottom: 66px;
}
.test button img{
    position: absolute;
    top:-22px;
    right:0;
}
/* nav */
.navbar{
    background: #242424;
    margin-bottom: 0;
}
.navbar-nav>li>a{
    line-height: 50px;
    font-size: 16px;
    padding: 0;
}
.navbar-brand img{
    display: inline-block;
    width: 100%;
    height: 50px;
}
.navbar-right{
    padding-left: 20px;
}
.navbar-right li a{
    color: #D7B87A!important;
}
.navbar-right li.Nmr{
    margin-right: 33px;
}
.navbar-nav li{
    padding: 0 15px;
}
.navbar-nav li a:hover{
    background: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
.case header .logoImg{
    display: inline-block;
    background: none;
}
.navbar-toggle{
    margin-top: 16px;
    border:solid 1px #fff;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-header{
    min-height: 70px;
}
.case .cont{
    overflow: hidden;
}
/*stress*/
.stress{
    position: relative;
}
.ico-new{
    position: absolute;
    left: 70px;
    top: 10px;
    font-size: 12px;
    background: #D7B87A;
    color:#fff;
    border-radius: 5px;
    font-weight: normal;
    width: 40px;
    text-align: center;
    line-height: 20px;
    display: none;
}
.mobilepositon{
    text-align: center;
}
.demoCont .mobile{
    display: inline-block;
    width: 250px;
    height: 500px;
    position: relative;
    margin-top: 128px;
}
.mobile .mobilebg{
    position: absolute;
    left: 0;
    top:0;
    z-index: 300;
    width: 100%;
    height:100%;
}
.mobile .mcenter{
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 200;
    width: 218px;
    height:472px;
    margin-left: -109px;
    margin-top: -236px;
}

.midnav li a:hover{
    background: none;
    border-bottom: solid 2px #fff;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px
    }
    .case .cont{
        padding-top: 70px;
    }
    .mobilepositon{
        text-align: right;
    }
    .test{
        background: url(../img/demo/wallet.png) no-repeat right center;
    }
    .test button{
        margin-left: 445px;
    }
    .demo footer{
        margin-top: 0;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1100px
    }
}
@media (min-width: 768px){ 
    #midPcNav {
        margin-left: 183px;
    }
    #midPcNav li{
        padding: 0;
        margin-right: 50px;
    }
    .navbar{
        background: #181818;
        margin-bottom: 0;
        height: 80px;
    }
    .demo .navbar{
        background: #000;
    }
    .udap-token .token-pic{
        display: inline-block;
        width: 400px;
        height: 400px;
    }
    .navbar-nav>li>a{
        height: 70px;
        line-height: 70px;
        font-size: 16px;
        padding: 0;
    }
   .navbar-right{
        padding-left: 0px;
    }
   .case li h4{
    margin-bottom: 0;
   }
   .ico-new{
    display: block;
   }
}

