@font-face {
  font-family: 'Helvetica';   /*字体名称*/
  src: url('../font/Helvetica.ttf');       /*字体源文件*/
}
html,body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
a,button{
    border:0;
    outline:none;
}
.navbar-nav li a{
    color:#fff;
}
.navbar-nav li a:hover{
    background: none;
}
.udap{
	background: url(../img/bg/tokensale.png) no-repeat center center;
	background-size: cover;
}
.udap nav{
	overflow: hidden;
}
.udap nav a{
	color:#fff;
	text-decoration: none;
}
.udap nav a:hover{
	color:#fff;
}
.udap-logo img{
	display: block;
    width: 42px;
    height: auto;
    float: left;
    margin-right: 10px;
}
.udap-logo span{
	line-height: 20px;
    float: left;
    font-size: 14px;
}
.udap-title{
    color:#fff;
	text-align: center;
}
.udap-title h1{
	text-align: center;
	font-size:36px;
    color:#d7b87a;
    margin:0;
    margin-top: 131px;
    margin-bottom: 25px;
}
.udap-title p{
	font-size:14px;
    color:#ffffff;
    text-align:center;
    line-height:28px;
	margin: 0 auto;
    max-width: 812px;
    margin-bottom: 60px;
}
.udap-register{
    overflow: hidden;
}
.udap-register button{
    background:none;
    font-size:18px;
    color:#ffffff;
    display: inline-block;
    border:1px solid rgba(255,255,255,0.50);
    width:298px;
    height:41px;
    text-align: center;
}
.udap-register button:hover{
    color:#ffffff;
}
/* udap-token */
.udap-token{
    margin:0;
    margin-top:143px;
    padding: 0px;
    overflow: hidden;
}
.udap-token .token-title{
    text-align: center;
    margin:0;
    font-size:36px;
    color:#d7b87a;
    margin-bottom: 25px;
}
.udap-token .token-intro{
    overflow: hidden;
}
.udap-token .token-intro p{
    font-size:14px;
    color:#ffffff;
    text-align:center;
    line-height:28px;
}
.udap-token .token-intro ul{
    padding: 0;
    margin-bottom: 20px;
}
.udap-token .token-intro li{
    list-style: none;
    font-size:14px;
    color:#888888;
    text-align:center;
    line-height:24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.udap-token .token-intro li i{
    display: inline-block;
    background: #888888;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-right: 5px;
}
.udap-token .token-intro p.bigTitle{
    font-size: 18px;
    margin-bottom: 70px;
}
.border-right{
    border-left:none;
}
.udap-token .token-subtitle{
    margin-top:34px;
    margin-bottom: 0;
    font-size:20px;
    color:#ffffff;
    text-align: center;
}
.udap-token .token-pics{
    display: block;
    overflow: hidden;
    text-align: center;
}
.udap-token .token-pic{
    display: inline-block;
    width: 250px;
    height: 250px;
}
.udap-token .token-list{

}
.container-fluid{
    padding:0; 
}
/* footer */
footer{
    height: 50px;
    line-height: 50px;
    font-size:14px;
    color:#ffffff;
    letter-spacing:0.09px;
    background:#181818;
    text-align: center;
    margin-top: 82px;
}

.case{
    padding-top: 70px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000 url(../img/bg/work.png) no-repeat right center;
    background-size: 100% 100%;
}
.case h2{
    font-size:36px;
    color:#d7b87a;
    letter-spacing:0.2px;
    line-height:34px;
    text-align:left;
    margin:0;
    margin-bottom: 20px;
}
.case h2 p{
    font-size: 18px;
    color:#fff;
    line-height: 24px;
    letter-spacing: 0.1;
    margin:0;
}
.case ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.case li{
    margin-top: 12px;
}
.case li h3{
    font-size:18px;
    color:#ffffff;
    letter-spacing:0.11px;
    text-align:left;
    margin:0;
    margin-bottom: 9px;
}
.case li h3 img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.case li p{
    font-size:14px;
    color:#888888;
    letter-spacing:0;
    line-height:20px;
    text-align:left;
    margin-bottom: 21px;
}
.case li .list p{
    font-size:14px;
    color:#888888;
    letter-spacing:0;
    line-height:20px;
    text-align:left;
    padding-left: 40px;
    margin-bottom: 0;
    background:url(../img/circle.png) no-repeat 20px 10px;
}
.case li h4{
    font-size:14px;
    color:#ffffff;
    letter-spacing:0.09px;
    line-height:22px;
    text-align:left;
    margin:0;
    margin-top:24px;
    margin-bottom: 15px;
}
/* nav */
.navbar{
    background: #242424;
    margin-bottom: 0;
}
.navbar-nav>li>a{
    line-height: 50px;
    font-size: 16px;
    padding: 0;
}
.navbar-brand img{
    display: inline-block;
    width: 100%;
    height: 50px;
}
.navbar-right{
    padding-left: 20px;
}
.navbar-right li a{
    color: #D7B87A!important;
}
.navbar-right li.Nmr{
    margin-right: 33px;
}
.navbar-nav li{
    padding: 0 15px;
}
.navbar-nav li a:hover{
    background: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
.case header .logoImg{
    display: inline-block;
    background: none;
}
.navbar-toggle{
    margin-top: 16px;
    border:solid 1px #fff;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-header{
    min-height: 70px;
}
.case .cont{
    overflow: hidden;
    padding-top: 70px;
}
/*stress*/
.stress{
    position: relative;
}
.ico-new{
    position: absolute;
    left: 70px;
    top: 10px;
    font-size: 12px;
    background: #b98c35;
    color:#fff;
    border-radius: 5px;
    font-weight: normal;
    width: 40px;
    text-align: center;
    line-height: 20px;
    display: none;
}
.mobile{
    display: block;
    width: 250px;
    height: 500px;
    margin:0 auto;
    position: relative;
}
.mobile .mobilebg{
    position: absolute;
    left: 0;
    top:0;
    z-index: 300;
    width: 100%;
    height:100%;
}
.mobile .mcenter{
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 200;
    width: 218px;
    height:472px;
    margin-left: -109px;
    margin-top: -236px;
}

.midnav li a:hover{
    background: none;
    border-bottom: solid 2px #fff;
}
@media (min-width: 768px){ 
    #midPcNav {
        margin-left: 183px;
    }
    #midPcNav li{
        padding: 0;
        margin-right: 50px;
    }
    .navbar{
        background: none;
        margin-bottom: 0;
    }
    .udap-token .token-pic{
        display: inline-block;
        width: 400px;
        height: 400px;
    }
    .navbar-nav>li>a{
        height: 70px;
        line-height: 70px;
        font-size: 16px;
        padding: 0;
    }
   .navbar-right{
        padding-left: 0px;
    }
   .case li h4{
    margin-bottom: 0;
   }
   .ico-new{
    display: block;
   }
}

