<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="contContainer">
        <div class="row about aboutWhat aboutudap">
            <div class="row">    
                <h2 class="title text-center">ABOUT</h2>
                <hr class="title-hr bghr">    
                <div class="aboutleft col-lg-5 col-xs-12">
                    <div class="vcont">
                        <!-- <div class="nav-heading">ABOUT</div> -->
                        <h1>WHAT  IS  UDAP</h1>
                        <div class="word text-left">                            

                          UDAP, is blockchain abstraction layer that can signiﬁcantly reduce the cost of building asset oriented applications, both in the development time and runtime.
                        </div>
                        <div class="mbtncenter">
                            <a target="_blank" href="https://tokensale.udap.io/video/tokenSale.mp4"><button class="btnlinear"><i class="icon-watch"></i> <span>Watch Video</span></button></a>
                        </div>                        
                        <p>It includes the followings:</p>
                        <p>
                            <span>Middleware</span>
                            <span>Protocol</span>
                            <span>Asset Wallet</span>
                            <span>Applications</span>
                        </p>
                    </div>
                </div>
                <div class="aboutright col-lg-7 col-xs-12">
                    <span class="imgone"></span>
                    <span class="imgtwo"></span>
                    <span class="imgthree"></span>
                    <span class="imgfour"></span>
                    <img src="img/home/about1r.png" alt="about1r">
                </div>
            </div>      
        </div>
    </div>
  </div>
</section>

