<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row about">
        <div class="row">        
            <div class="video-l col-md-6 col-xs-12">
                <ul class="media-list">
                    <li class="media">
                        <video style="width:100%; height:100%; object-fit:cover;" controls="controls" poster="video/bg.png">
                        <source src="https://tokensale.udap.io/view/video/tokenSale.mp4" type="video/mp4" />
                        Your browser does not support the video tag.
                        </video>
                    </li>
                </ul>
            </div>
            <div class="video-r col-md-6 col-xs-12">
                <div class="vcont">
                    <div class="nav-heading">About</div>
                    <hr class="heading-hr">
                    <h1 class="heading-h1">WHAT IS <span>UÐAP</span></h1>
                    <div class="media-body text-center">
                      UDAP, a Universal Decentralized Asset Platform, is a blockchain middleware that provides Restful APIs and an ‘Asset Wallet’ for application developers to create powerful blockchain based applications without writing any smart contracts. It’s a ‘layer two’ solution to non-fungible assets to simplify and accelerate blockchain application development.
                    </div>
                </div>
                
            </div>
        </div>      
    </div>
  </div>
</section>
<section class="matters proposition content-section text-center bg-gray">
 <div class="container">
   <div class="row about">
        <div class="mtitle">
            <div class="nav-heading">About</div>
            <hr class="heading-hr">
            <h1 class="heading-h1">WHY <span>UÐAP</span> MATTERS</h1>
        </div>
        
        <ul  class="media-list">
            <li class="media">
                <div class="media-body">
                    <h3  class="media-heading">What are problems now?</h3>
                    <p>Today, the blockchain is still in early stage, not much experience programmer, not much development tools, open source codes to help you to develop a blockchain application. it is difficult for developers to build application that can match Internet applications in terms of scalability, performance, cost and user experience.</p>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h3  class="media-heading">What are our solutions?</h3>
                    <ul class="matters-lists">
                        <li>
                            <span class="number">01</span>
                            <div class="mlist">
                                <h4>Great decentralized features without investing heavily in underlying blockchain technologies</h4>
                                <p>UDAP defines convenient APIs for traditional vertical applications to integrate with blockchains, which would not require application developers to have a deep understanding of blockchain and decentralization technologies.</p>
                            </div>
                        </li>
                        <li>
                            <span class="number">02</span>
                            <div class="mlist">
                               <h4>Fast, cheap and secure integration with public blockchains, without specific lock-in</h4>
                                <p>UDAP implements state channel technology to solve some of the most challenging issues with developing and running Blockchain-based applications, and providing a high scalability, low coast, privacy protected and immediate responsiveness. App-economy with in-app currency and asset life cycle management, trading and search capability.</p> 
                            </div>
                        </li>
                        <li>
                            <span class="number">03</span>
                            <div class="mlist">
                                <h4>App-economy with in-app currency and asset life cycle management, trading and search capability</h4>
                                <p>UDAP provides a set of smart contract (initially based on Ethereum) templates that is configured by applications before deployment and at runtime. We believe that the automatic templating system can cover 90% of regular application use cases.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        
   </div>
</div>
</section>
