<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row about">
        <h1 class="about-title">WHAT IS UÐAP</h1>
        <div class="media-body text-center">
          UDAP is a blockchain middleware that provides common services for non-fungible asset lifecycle management, search, and trading.
          It creates and manages bidirectional bindings between real world assets and their crypto representations,
          provides an abstraction layer for accessing underlying blockchain infrastructure, and helps Internet applications 
          such as MLS.com easily transform themselves into token-based business.
        </div>
        <ul class="media-list">
            <li class="media col-md-6">
                <a class="pull-right" href="#">
                    <img class="media-object" src="img/icon/icon-1.png" alt="Protocol">
                </a>

                <div class="media-body text-right">
                    <h4 class="media-heading">Protocol</h4>
                    A Universal Decentralized Asset Protocol as the backbone of the Internet of Assets
                </div>
            </li>


            <li class="media col-md-6">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/icon/icon-5.png" alt="Protocol">
                </a>
                <div class="media-body text-left">
                    <h4 class="media-heading">Service</h4>
                    An Asset Blockchain as a Service (ABaaS) for private &amp; consortium asset blockchain deployment
                </div>
            </li>


            <li class="media col-md-6">
                <a class="pull-right" href="#">
                    <img class="media-object" src="img/icon/icon-2.png" alt="Protocol">
                </a>
                <div class="media-body text-right">
                    <h4 class="media-heading">Middleware</h4>
                    A Decentralized Middleware Network for Asset Lifecycle Management
                </div>
            </li>

            <li class="media col-md-6">
                <a class="pull-left" href="#">
                    <img class="media-object"  src="img/icon/icon-6.png" alt="Protocol">
                </a>
                <div class="media-body  text-left">
                    <h4 class="media-heading">Marketplace</h4>
                    A Global C2C Marketplace for asset trading and exchange without intermeditary
                </div>
            </li>

            <li class="media col-md-6">
                <a class="pull-right" href="#">
                    <img class="media-object" style="margin-left:-15px;" src="img/icon/icon-3.png" alt="Protocol">
                </a>
                <div class="media-body text-right">
                    <h4 class="media-heading">Wallet</h4>
                    A Universal Asset Wallet that tracks and manages tokens and assets
                </div>
            </li>


            <li class="media col-md-6">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/icon/icon-4.png" alt="Protocol">
                </a>
                <div class="media-body  text-left">
                    <h4 class="media-heading">Enabler</h4>
                    A Technology Enabler for business to transform from centralized internet model to a token-based economy
                </div>
            </li>
            <li class="media col-md-8  col-lg-offset-2">
                <video autoplay="true" style="margin: 20px 0px;width:100%; height:100%; object-fit:cover;" src="https://tokensale.udap.io/view/video/tokenSale.mp4" controls="controls">
                Your browser does not support the video tag.
                </video>
            </li>
        </ul>        
    </div>
  </div>
</section>
<section class="proposition content-section text-center bg-gray">
 <div class="container">
   <div class="row about">
       <h1 class="about-title">Value Proposition</h1>
        <ul  class="media-list">
            <li class="media col-md-8  col-lg-offset-2">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/icon/icon-7.png" alt="Protocol">
                </a>
                <div class="media-body  text-left">
                    <h4  class="media-heading">No Blockchain Knowledge Needed</h4>
                Provides developer-friendly programming model that simplifies and accelerates development of Dapps
                </div>
            </li>
            <li class="media col-md-8  col-lg-offset-2">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/icon/icon-8.png" alt="Protocol">
                </a>
                <div class="media-body  text-left">
                    <h4  class="media-heading">No Blockchain Lock-in</h4>
                  Allows you to move your Dapp among blockchain infrastructures like Ethereum, EOS, and NEO
                </div>

            </li>
            <li class="media col-md-8  col-lg-offset-2">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/icon/icon-9.png" alt="Protocol">
                </a>
                <div class="media-body  text-left">
                    <h4  class="media-heading">Asset Lifecycle Management</h4>
                Enables asset registration, authenticity verification, search, transfer, and trade at the tip of your fingers
                </div>
            </li>
        </ul>
        
   </div>
</div>
</section>
