<!-- coreservice Section -->
<section id="coreservice">
  <div class="container">
    <div class="contContainer">
        <div class="row coreserviceItem">
            <h1>UDAP Middleware Core Services</h1>
            <div class="row coreservice" >        
                <div class="col-lg-6 col-xs-12">
                    <div class="newcont">
                        <h2>Token Service</h2>
                        <p>The service helps applications to quickly tokenize in-app assets, such as tickets, IP rights, certificates, and game assets. It also helps application to create in-app currencies.</p>
                        <img class="tokenservice" src="img/home/tokenservice.png" alt="tokenservice">
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="newcont">
                        <h2>State Channels Service</h2>
                        <p>The service implements state channel technology to help application to properly partition their application logic between on-chain and off-chain, to achieve the best of off-chain efficiency and on-chain persistence. This is critical to minimizing the cost and providing the best possible user experience.</p>
                        <img src="img/home/channelservice.png" alt="channelservice">
                    </div>
                </div>
            </div>      
        </div>
    </div>
  </div>
</section>