    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 footerL">
                    <a href="mailto:info@udap.io">CONTACT US</a>
                </div>
                <div class="col-md-4">
                    <span class="copyright">© 2018 UÐAP FOUNDATION All Rights Reserved</span>
                </div>
                <div class="col-md-4 footerR">
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/udapfoundation" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li class="user-icon"><a href="https://medium.com/@UDAP" target="_blank"><i class="fa fa-user-mm"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-stack-overflow fa-fw"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-comment"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
