<!-- Footer -->
<footer id="contact">
  <div class="container">
    <div class="row footCont">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="footerSocial">
          <h2 class="title">CONTACT US</h2>
          <hr class="title-hr" />
          <div class="footerL">
            <div class="footerR">
              <p><a href="mailto:info@udap.io">info@udap.io</a></p>
            </div>
          </div>
          <ul>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a target="_blank" href="https://t.me/udapcommunity">
                <img src="img/intro/social-logo-telegramw.png" alt="social" />
                <span>Telegram</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a target="_blank" href="https://medium.com/udap">
                <img src="img/intro/social-logo-mw.png" alt="social" />
                <span>Medium</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a target="_blank" href="https://twitter.com/udapfoundation">
                <img src="img/intro/social-logo-twitterw.png" alt="social" />
                <span>Twitter</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a target="_blank" href="https://www.facebook.com/udapfoundation">
                <img src="img/intro/social-logo-facebookw.png" alt="social" />
                <span>Facebook</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a target="_blank" href="https://github.com/udap">
                <img src="img/intro/social-logo-githubw.png" alt="social" />
                <span>Github</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a target="_blank" href="https://www.linkedin.com/company/udap">
                <img src="img/intro/social-logo-linkedinw.png" alt="social" />
                <span>Linkedin</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6">
              <a
                target="_blank"
                href="https://www.youtube.com/channel/UCDl000RbiE5ywU7x2igWWQg?view_as=sub"
              >
                <img src="img/intro/youtube.png" alt="social" />
                <span>Youtube</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6 wechat-qrcode">
              <a target="_blank">
                <img src="img/intro/wechat.png" alt="social" />
                <span>Wechat</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6 ins-qrcode">
              <a target="_blank">
                <img src="img/intro/ins.png" alt="ins" />
                <span>Instagram</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6 weibo-qrcode">
              <a target="_blank">
                <img src="img/intro/Weibo.png" alt="Weibo" />
                <span>Weibo</span>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-6 cusService-qrcode">
              <a target="_blank">
                <img src="img/intro/cusService.png" alt="cusService" />
                <span>Customer service</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="copyright">© 2018 CHAIN MIND LTD All Rights Reserved</p>
  </div>
</footer>
