    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 footerL">
                    <h2><a href="mailto:info@udap.io">CONTACT US</a></h2>
                    <div class="links">
                        <a href="#">Home</a>
                        <a href="#about">About</a>
                        <a href="#team">Team</a>
                        <a href="">Contact us</a>
                    </div>
                    <p>© 2018 UÐAP FOUNDATION All Rights Reserved</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 footerR">
                    <ul class="social-right">
                        <li class="Nmr">
                            <a class="page-scroll" href=""><img src="img/nav/useCases.png" alt="">Show Cases</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/tokensale.html"><img src="img/nav/tokenSale.png" alt="">Token Sale</a>
                        </li>
                    </ul>
                    <p><a href="mailto:info@udap.io">Email：info@udap.io</a></p>
                    <div class="social-logo">
                        <ul>
                            <li><a href="https://www.linkedin.com/company/udap/" target="_blank"><img src="img/intro/social-logo-linkedinw.png" alt="social"></a></li>
                            <li><a href="https://t.me/udapcommunity" target="_blank"><img src="img/intro/social-logo-telegramw.png" alt="social"></a></li>
                            <li><a href="https://github.com/udap" target="_blank"><img src="img/intro/social-logo-githubw.png" alt="social"></a></li>
                            <li><a href="https://fb.me/udapfoundation" target="_blank"><img src="img/intro/social-logo-facebookw.png" alt="social"></a></li>              
                            <li><a href="https://twitter.com/udapfoundation" target="_blank"><img src="img/intro/social-logo-twitterw.png" alt="social"></a></li>
                            <li><a href="https://medium.com/udap" target="_blank"><img src="img/intro/social-logo-mw.png" alt="social"></a></li>                           
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </footer>
