<!-- four Section -->
<section id="four">
  <div class="container">
    <div class="contContainer">
        <div class="row twoItem numberItem">
            <div class="row">        
                <div class="nleft col-xs-12">
                    <div class="newcont">
                        <h1>NO.4 Applications</h1>
                        <div class="word text-left">                            
                            UMedia is a marketplace for collectible music and other form of  digital media assets on
                            your mobile phone, it included some complicated blockchain programming modules like all
                            different token services,  marketplace, Proxy Re-Encryption, State Channel, Singular.
                            UMedia is to demonstrate the technical capabilities of UDAP. It’s so easy to make a
                            Dapp by UDAP. Developers can use UDAP’s middleware to transfer their normal business into token-based business just like UMedia does.
                        </div>
                        <p>More different Dapp coming powered by UDAP, such as:  Ticketing, Social, Education, Gaming, Health, Supply Chain Finance, Data Center, Technical Community, Travel, E-Commerce, Library and so on.</p>
                        <div class="mbtncenter"><a target="_blank" href="demo.html"><button class="btnlinear"><i class="iconlink"></i> <span>More about UMedia</span></button></a></div>
                    </div>
                </div>
                <div class="nright col-xs-12">
                    <img src="img/home/four.png" alt="four">
                </div>
            </div>      
        </div>
    </div>
  </div>
</section>