    <!-- Intro Header -->
    <div class="intro">
        <div class="intro-circleImg"></div>
        <div class="container">
            <div class="intro-body" id="intro">
                <div class="intro-cont">
                    <h1 class="brand-heading">{{ site.title }}</h1>
                    <hr>
                    <p class="intro-text">Universal Ðecentralized Asset Platform<br>     
                    - a Blockchain Middleware for Tokenizing Everything</p>
                    <div class="intro-btns">
                        <a target="_blank"  href="img/intro/UDAP-Whitepaper-English-v08.pdf"><img src="img/intro/intro-download.png" alt="download">Whitepaper (EN)</a>
                        <a target="_blank"  href="img/intro/UDAP-Whitepaper-Chinese-v08.pdf"><img src="img/intro/intro-download.png" alt="download">Whitepaper (CN)</a>
                        <a target="_blank"  href="img/intro/UDAP Executive Summary.pdf"><img src="img/intro/intro-download.png" alt="download">Executive Summary</a>
                    </div>
                    <div class="social-logo">
                        <ul>
                            <li><a href="https://medium.com/udap" target="_blank"><img src="img/intro/social-logo-m.png" alt="social"></a></li>
                            <li><a href="https://twitter.com/udapfoundation" target="_blank"><img src="img/intro/social-logo-twitter.png" alt="social"></a></li>
                            <li><a href="https://fb.me/udapfoundation" target="_blank"><img src="img/intro/social-logo-facebook.png" alt="social"></a></li>
                            <li><a href="https://github.com/udap" target="_blank"><img src="img/intro/social-logo-github.png" alt="social"></a></li>
                            <li><a href="https://t.me/udapcommunity" target="_blank"><img src="img/intro/social-logo-telegram.png" alt="social"></a></li>
                            <li><a href="https://www.linkedin.com/company/udap/" target="_blank"><img src="img/intro/social-logo-linkedin.png" alt="social"></a></li>
                        </ul>
                    </div>  
                </div>  
            </div>            
            <div class="intro-circle">
                <a href="#about" id="nextDown" class="btn btn-circle page-scroll"></a>
            </div>        
        </div>
    </div>
