    <!-- Intro Header -->
    <div class="intro">
        <div class="container">
            <div class="intro-body row" id="intro">
                <div class="intro-cont intro-left col-md-6 col-xs-12">
                    <h1 class="brand-heading">{{ site.title }}</h1>
                    <hr>
                    <p class="intro-text">Universal Ðecentralized Asset Platform<br>     
                    - a Blockchain Middleware <span class="break"></span> for Tokenizing Everything</p>
                    <div class="intro-btns">
                        <a target="_blank"  href="whitepapers/UDAP-Whitepaper-English-v08.pdf"><img src="img/intro/intro-download.png" alt="download">Whitepaper (EN)</a>
                        <a target="_blank"  href="whitepapers/UDAP-Whitepaper-Chinese-v08.pdf"><img src="img/intro/intro-download.png" alt="download">Whitepaper (CN)</a>
                        <a target="_blank"  href="whitepapers/UDAP Executive Summary.pdf"><img src="img/intro/intro-download.png" alt="download">Executive Summary</a>
                    </div>
                    <div class="social-logo">
                        <ul>
                            <li><a href="https://medium.com/udap" target="_blank"><img src="img/intro/social-logo-m.png" alt="social"></a></li>
                            <li><a href="https://twitter.com/udapfoundation" target="_blank"><img src="img/intro/social-logo-twitter.png" alt="social"></a></li>
                            <li><a href="https://fb.me/udapfoundation" target="_blank"><img src="img/intro/social-logo-facebook.png" alt="social"></a></li>
                            <li><a href="https://github.com/udap" target="_blank"><img src="img/intro/social-logo-github.png" alt="social"></a></li>
                            <li class="newline"><br></li>
                            <li><a href="https://t.me/udapcommunity" target="_blank"><img src="img/intro/social-logo-telegram.png" alt="social"></a></li>
                            <li><a href="https://www.linkedin.com/company/udap/" target="_blank"><img src="img/intro/social-logo-linkedin.png" alt="social"></a></li>
                            <li><a href="https://www.youtube.com/channel/UCDl000RbiE5ywU7x2igWWQg?view_as=sub" target="_blank"><img src="img/intro/social-logo-youtube.png" alt="social"></a></li>
                            <li><a href="https://www.reddit.com/user/UDAP_Foundation" target="_blank"><img src="img/intro/social-logo-reddit.png" alt="social"></a></li>
                        </ul>
                    </div>  
                </div>  
                <div class="intro-right  col-md-6 col-xs-12">
                    <ul>
                        <li id="number1" class="btnlinear">
                            <a href="#one"><i class="iconlink"></i><span>Protocol - Singular</span><!-- <i class="iconskip"></i> -->
                                <a href="https://github.com/udap/EIP/tree/master/" target="_blank"><i class="icongithub"></i></a></a>
                        </li>
                        <li id="number2" class="btnlinear">
                            <a href="#two"><i class="iconlink"></i><span>Middleware-UDAP Middleware</span><!-- <i class="iconskip"></i> -->
                                <a href="https://github.com/udap" target="_blank"><i class="icongithub"></i></a></a>
                        </li>
                        <li id="number3" class="btnlinear">
                            <a href="#three"><i class="iconlink"></i><span>Asset Wallet - Harvest</span>
                                <a href="demo.html" target="_blank"><i class="iconskip"></i></a><!-- <i class="icondown"></i> --></a>
                        </li>
                        <li id="number4" class="btnlinear">
                            <a href="#four"><i class="iconlink"></i><span>Applications - UMedia</span>
                                <a href="demo.html" target="_blank"><i class="iconskip"></i></a><!-- <i class="icondown"></i> --></a>
                        </li>
                    </ul>
                </div>
            </div>  
            <div class="intro-circle" id="mDown" >
                <a href="#about" class="btn btn-circle"></a>
            </div>            
            <div class="intro-circle" id="pcDown" >
                <span id="nextDown" class="btn btn-circle"></span>
            </div>        
        </div>
    </div>
