 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "js/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/html5media.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ "js/grayscale.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "js/main.js" | prepend: site.baseurl }}"></script> -->
    <script src="{{ "js/swiper.min.js" | prepend: site.baseurl }}"></script>
     <script>
$(document).ready(function () {
var swiper1 = new Swiper('.mainSwiper', {//父的
    hashnav:true,
    mousewheelControl: true,
    direction: 'vertical',
    observer:true,
    observeParents:true,
    noSwiping : true,
    pagination: '.mainPagination',
    onTransitionEnd: function(swiper){
      $("#navPc li").removeClass('active')
      if(swiper.activeIndex == 0||swiper.activeIndex == 1||swiper.activeIndex == 2||swiper.activeIndex == 3||swiper.activeIndex == 4||swiper.activeIndex == 5||swiper.activeIndex == 6){
        $("#navPc li").eq(0).addClass('active')
      }else if(swiper.activeIndex == 7||swiper.activeIndex == 8||swiper.activeIndex == 9){
        $("#navPc li").eq(1).addClass('active')
      }else if(swiper.activeIndex == 10){
        $("#navPc li").eq(2).addClass('active')
      }else if(swiper.activeIndex == 11){
        $("#navPc li").eq(3).addClass('active')
      }else if(swiper.activeIndex == 14){
        $("#navPc li").eq(4).addClass('active')
      }
    },
});


/*导航点击事件*/
 $('#navAbout').on('click',function(){
    swiper1.slideTo(0);
 })
 $('#navTeam').on('click',function(){
    swiper1.slideTo(7);
 })
 $('#navRoadmap').on('click',function(){
    swiper1.slideTo(10);
 })
 $('#navInverstor').on('click',function(){
     swiper1.slideTo(11);
  })
 $('#navContact').on('click',function(){
    swiper1.slideTo(14);
 })

 $('.btn-circle').on('click',function(){
    swiper1.slideTo(1);
 })

 $('#number1 a').on('click',function(){
    swiper1.slideTo(2);
 })
 $('#number2 a').on('click',function(){
    swiper1.slideTo(3);
 })
  $('#number3 a').on('click',function(){
    swiper1.slideTo(5);
 })
   $('#number4 a').on('click',function(){
    swiper1.slideTo(6);
 })


 $('#aboutskip1 a').on('click',function(){
    swiper1.slideTo(2);
 })
 $('#aboutskip2 a').on('click',function(){
    swiper1.slideTo(3);
 })
  $('#aboutskip3 a').on('click',function(){
    swiper1.slideTo(5);
 })
   $('#aboutskip4 a').on('click',function(){
    swiper1.slideTo(6);
 })

 $("#navPc li").click(function(){
     $(this).addClass("active");
     $(this).siblings().removeClass("active");
 });
}) //ready end

/*nav mouseover*/
var time = null
$('.dropdown-product').hide()
$('#productNav').mouseover(function () {
  clearTimeout(time)
  $('.dropdown-product').show()
})
$('#productNav').mouseout(function () {
  time = setTimeout(function () {
    $('.dropdown-product').hide()
  }, 500)
})
$('.dropdown-product').mouseover(function () {
  clearTimeout(time)
  $('.dropdown-product').show()
})
$('.dropdown-product').mouseout(function () {
  time = setTimeout(function () {
    $('.dropdown-product').hide()
  }, 500)
})

$('.wechat-qrcode').on('click', function () {
  $(".wechat--qr").css("display","flex");
})
$('.mask').on('click', function () {
  $('.wechat--qr').css("display","none");
})
// ins
$('.ins-qrcode').on('click', function () {
  $(".ins--qr").css("display","flex");
})
$('.mask').on('click', function () {
  $('.ins--qr').css("display","none");
})
// weibo
$('.weibo-qrcode').on('click', function () {
  $(".weibo--qr").css("display","flex");
})
$('.mask').on('click', function () {
  $('.weibo--qr').css("display","none");
})
// cusService
$('.cusService-qrcode').on('click', function () {
  $(".cusService--qr").css("display","flex");
})
$('.mask').on('click', function () {
  $('.cusService--qr').css("display","none");
})




  </script>
