 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ "js/grayscale.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "js/swiper.min.js" | prepend: site.baseurl }}"></script>
    <script>
      var swiper = new Swiper('#workMobile', {
            autoplay:false,
            pagination: {
              el: '.swiper-pagination',
              dynamicBullets: true,
            },
          });

      var swiper2 = new Swiper('#mainSwiper', {
        direction: 'vertical',
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
          el: '.mainPagination',
          clickable: true,
        },
        loop : true,
        on:{
         slideChange: function () {
           if(this.activeIndex==5){
             this.mousewheel.disable();
             swiper1.slideTo(0);
             swiper1.autoplay.start();
             swiper1.mousewheel.enable();;
           }
         },
        },
        mousewheel: true,
      });
      $('#navhome').click(function(){
         swiper2.slideTo(1);
      })
      $('#navAbout').click(function(){
         swiper2.slideTo(2);
      })
      $('#navTeam').click(function(){
         swiper2.slideTo(6);
      })
      $('#navContact').click(function(){
         swiper2.slideTo(12);
      })
      $('#pcnextDown').click(function(){
        console.log("1")
         swiper2.slideTo(2);
      })

      var swiper1 = new Swiper('#workSwiper', {
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
          el: '.workPagination',
          clickable: true,
        },
        mousewheel: true,
        dynamicBullets: true,
        loop:false,
        on:{
          slideNextTransitionEnd: function () {
            if(this.activeIndex==3){
              swiper2.mousewheel.enable();
              swiper1.slideTo(4);
            }
          }
         },
      });
    </script>