 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ "js/grayscale.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "js/main.js" | prepend: site.baseurl }}"></script> -->
    <script src="{{ "js/swiper.min.js" | prepend: site.baseurl }}"></script>
     <script> 
$(document).ready(function () {
var swiper2 = new Swiper('.workSwiper', {//嵌套的
    pagination: '.work-swiper-pagination',
    paginationClickable: true,
    nested: true,
    direction: 'vertical',
    observer:true,
    observeParents:true,
    mousewheelControl: true,
   onSlidePrevEnd: function(swiper){
      if(swiper.activeIndex==0){
        swiper1.params.allowSwipeToPrev = true;
      }else{
        swiper1.params.allowSwipeToPrev = false;
        swiper1.params.allowSwipeToNext = false;
      }
    },
    onSlideNextEnd: function (swiper) {
      if(swiper.activeIndex==3){
        swiper1.params.allowSwipeToNext = true;
      }else{
        swiper1.params.allowSwipeToPrev = false;
        swiper1.params.allowSwipeToNext = false;
      }
    }
});

var swiper1 = new Swiper('.mainSwiper', {//父的
    mousewheelControl: true,
    direction: 'vertical',
    observer:true,
    observeParents:true,
    noSwiping : true,
    pagination: '.mainPagination',
    onTransitionEnd: function(swiper){
      $("#navPc li").removeClass('active')
      if(swiper.activeIndex == 0){
        $("#navPc li").eq(0).addClass('active')
      }else if(swiper.activeIndex == 1){
        $("#navPc li").eq(1).addClass('active')
      }else if(swiper.activeIndex == 5){
        $("#navPc li").eq(2).addClass('active')
      }else if(swiper.activeIndex == 11){
        $("#navPc li").eq(3).addClass('active')
      }
    },
    onSlidePrevEnd: function(swiper){
      if(swiper.activeIndex==4){
        swiper.params.allowSwipeToPrev = false;
        swiper2.slideTo(4,0,false);
      }else{
        swiper.params.allowSwipeToNext = true;
        swiper.params.allowSwipeToPrev = true;
      }
    },
    onSlideNextEnd: function(swiper){
      if(swiper.activeIndex==4){
        swiper.params.allowSwipeToNext = false;
        swiper2.slideTo(0,0,false);
      }else{
        swiper.params.allowSwipeToPrev = true;
        swiper.params.allowSwipeToNext = true;
      }
    },
});


/*导航点击事件*/
$('#navhome').on('click',function(){
    swiper1.slideTo(0);
 })
 $('#navAbout').on('click',function(){
    swiper1.slideTo(1);
 })
 $('#navTeam').on('click',function(){
    swiper1.slideTo(5);
 })
 $('#navContact').on('click',function(){
    swiper1.slideTo(11);
 })

 $('.btn-circle').on('click',function(){
    swiper1.slideTo(1);
 })

 $("#navPc li").click(function(){
     $(this).addClass("active");
     $(this).siblings().removeClass("active");
 });

})
  </script>