<section class="matters mattersnow">
 <div class="container">
    <div class="contContainer">
        <div class="row about aboutWhy">
             <div class="mtitle">
                 <div class="nav-heading">About</div>
                 <hr class="heading-hr">
                 <h1 class="heading-h1">WHY <span>UÐAP</span> MATTERS</h1>
                 <ul  class="media-list">
                     <li class="media">
                         <div class="media-body">
                             <h3  class="media-heading">What are problems now?</h3>
                             <p>Today, the blockchain is still in early stage, not much experience programmer, not much development tools, open source codes to help you to develop a blockchain application. It is difficult for developers to build application that can match Internet applications in terms of scalability, performance, cost and user experience.</p>
                         </div>
                     </li>
                 </ul>
             </div>
         </div>
    </div>   
</div>
</section>