    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="img/udapnew.png" alt="">
                </a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav nav-midCont" id="navPc">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="active">
                        <a  id="navhome" href="#intro">Home</a>
                    </li>
                    <li>
                        <a  id="navAbout" href="#about">About</a>
                    </li>
                    <li>
                        <a  id="navTeam" href="#team">Team</a>
                    </li>
                    <li class="midMr">
                        <a  id="navContact" href="#contact">Contact us</a>
                    </li>                    
                </ul>
                <ul class="nav navbar-nav nav-midCont" id="navMobile">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="active">
                        <a class="page-scroll" href="#intro">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll"  href="#about" id="mabout">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team" id="mteam">Team</a>
                    </li>
                    <li class="midMr">
                        <a class="page-scroll" href="#contact" id="mcontact">Contact us</a>
                    </li>                    
                </ul>
                <ul class="nav navbar-nav nav-rightCont navbar-right">
                    <li class="Nmr">
                        <a class="page-scroll stress" href='/demo.html'><!-- <strong class="sprites social1"></strong> --><img src="img/nav/useCases.png" alt="">Demo <span class="ico-new">new</span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href='/tokensale.html'><!-- <strong class="sprites social2"></strong> --><img src="img/nav/tokenSale.png" alt="">Token Sale</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
