<section id="news" class="content-section text-center">
    <div class="new__container container">
        <div class="row eco-system">
            <h2 class="title">PRESS</h2>
            <ul class="row list-inline banner-social-buttons">
                <li class="col-sm-2">
                    <a href="https://www.jinse.com/news/blockchain/209398.html" class="btn"><img src="img/news/jinse.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzU2MTE1NDk2Mg==&mid=2247485134&idx=3&sn=056a25361e0f09dbaeec6b25fb8c667e&chksm=fc7c5833cb0bd125fa27064a6dff51b850484fbd74d96c16a4b40c6fef1643fa16e959b0cb9c&mpshare=1&scene=1&srcid=0516QmeXgH01OIcOKehqZi16&key=7282001dbf9a9df1d799cdd876534113aedd6778d6032ed8924aadb1a70a0f428a40031424e0227d2002931f81116743296f19203254d43cc56a64f023b2e2f2f6f1f54add1ea254d9d0fc86e6d25fb2&ascene=0&uin=MTE2MTY3MzcyMA%3D%3D&devicetype=iMac+MacBookAir7%2C2+OSX+OSX+10.12.6+build(16G1212)&version=12020810&nettype=WIFI&lang=zh_CN&fontScale=100&pass_ticket=O1zRRna8AOVr2TEJ309t7MJF%2BfKrNydp8I3evZLn9IeulRm53rPaU2Hfx1UF7a8q" class="btn"><img src="img/news/newcsdn.png" alt="logo" class="img-responsive"></a>
                </li>

                <li class="col-sm-2">
                    <a href="https://www.leiphone.com/news/201804/y8ux5xppnUC7C3O9.html" class="btn"><img src="img/news/newlf.png" alt="logo" class="img-responsive"></a>
                </li>

                <li class="col-sm-2">
                    <a href="http://m.cnncai.com/news/xinwen/34700.html" class="btn"><img src="img/news/newsLogo.png" alt="logo" class="img-responsive"></a>
                </li>

                <li class="col-sm-2">
                    <a href="http://36kr.com/p/5130344.html" class="btn"><img src="img/news/news36kr.png" alt="logo" class="img-responsive"></a>
                </li>

                <li class="col-sm-2">
                    <a href="http://tech.ifeng.com/a/20180420/44962469_0.shtml" class="btn"><img src="img/news/newifeng.png" alt="logo" class="img-responsive"></a>
                </li>

                <li class="col-sm-2">
                    <a href="https://www.hao123.com/mid/15999736497156416070" class="btn"><img src="img/news/newhao123.png" alt="logo" class="img-responsive"></a>
                </li>

                 <li class="col-sm-2">
                    <a href="http://www.greendeco.com.cn/?p=6721" class="btn"><img src="img/news/newgreendeco.png" alt="logo" class="img-responsive"></a>
                </li>

                <li class="col-sm-2">
                    <a href="http://www.sohu.com/a/228849851_114877" class="btn"><img src="img/news/newsohu.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://3g.163.com/dy/article/DFQAP41I05118HA4.html" class="btn"><img src="img/news/new163.png" alt="logo" class="img-responsive"></a>
                </li>
                
                <li class="col-sm-2">
                    <a href="http://m.qukuaiwang.com.cn/news/9727.html?from=singlemessage&isappinstalled=0" class="btn"><img src="img/news/n-logo2.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://www.yaofache.com/columns/detail/29586a73a5d7405f989468e7c21dd1da" class="btn"><img src="img/news/pic-logo-text.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://www.cnr.cn/shanghai/shzx/cj/20180607/t20180607_524261818.shtml" class="btn"><img src="img/news/logo_s_red.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://kuaibao.qq.com/s/20180607A1CTV200?refer=kb_sec_share" class="btn"><img src="img/news/kbpclogo.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://www.yidianzixun.com/article/0JF7dy6S?share_count=2" class="btn"><img src="img/news/yidianzixun.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://ms.dzshbw.com/2018/ms8_0607/136656.html" class="btn"><img src="img/news/dazonglogo.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://m.ifeng.com/vampire/vPFdSiT8/shareNews?&fromType=vampire&aid=63987703" class="btn"><img src="img/news/ifeng.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://www.xunibinews.com/a/20180608/5517.html?from=singlemessage&isappinstalled=0" class="btn"><img src="img/news/xunibilogo.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://v.youku.com/v_show/id_XMzY1MTg0OTQyNA==.html?sharekey=cd444d5f8293234e784db77496e5dea35" class="btn"><img src="img/news/youku.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://media.comnews.cn/cj/20180608/5698.html" class="btn"><img src="img/news/logo_media.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://www.swjrw.com/dispArticle.Asp?id=12888" class="btn"><img src="img/news/sj05.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://m.thepaper.cn/newsDetail_forward_2182082" class="btn"><img src="img/news/logo_wap_v3.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://3g.china.com/act/economy/11179727/20180608/25221273.html" class="btn"><img src="img/news/chinalogo.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://www.toutiao.com/i6564569985404895757/?tt_from=copy_link&utm_campaign=client_share&timestamp=1528436289&app=news_article&utm_source=copy_link&iid=25958502633&utm_medium=toutiao_ios&wxshare_count=2&pbid=6540587009168328206" class="btn"><img src="img/news/logo.201f80d.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://www.zqcn.com.cn/qiye/201806/08/c506460.html" class="btn"><img src="img/news/Llogo.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://t.cj.sina.com.cn/articles/view/3180104125/bd8c89bd001007qhv?from=tech&subch=internet" class="btn"><img src="img/news/article_pic01.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://xueqiu.com/6446875207/108564821" class="btn"><img src="img/news/xueqiu.png" alt="logo" class="img-responsive"></a>
                </li>                
                <li class="col-sm-2">
                    <a href="http://www.sh.chinanews.com/chanjing/2018-06-08/40272.shtml" class="btn"><img src="img/news/chinanews.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://mini.eastday.com/mobile/180608143203443.html" class="btn"><img src="img/news/logo_nav.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzU3MTUwMzYwMw==&mid=2247484748&idx=2&sn=1dd7323d7d4bb3e133969276796c001a&chksm=fcde63d0cba9eac646236e7a5b790978f68df833d4de1b206747a4e3daeb5b8e638ebb239593&mpshare=1&scene=1&srcid=0614eQNNrQcTVlgnRdt3QAff#rd" class="btn"><img src="img/news/niushi.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://xtecher.com/Mobile/Article/view?aid=11225" class="btn"><img src="img/news/xteacherlogo.png" alt="logo" class="img-responsive"></a>
                </li>
                <li class="col-sm-2">
                    <a href="http://www.blockisx.com/news/20180607-1610.html" class="btn"><img src="img/news/blockisx.png" alt="logo" class="img-responsive"></a>
                </li>                
                <li class="col-sm-2">
                    <a href="https://v.qq.com/x/page/e0683o1rcni.html" class="btn"><img src="img/news/130515eT9.png" alt="logo" class="img-responsive"></a>
                </li>                
            </ul>
        </div>
    </div>
</section>