<!-- one Section -->
<section id="one">
  <div class="container">
    <div class="contContainer">
        <div class="row oneItem numberItem">
            <div class="row">        
                <div class="oneleft nleft col-xs-12">
                    <div class="newcont">
                        <h1>NO. 1 Protocol - Singular</h1>
                        <div class="word text-left">                            
                            Singular is a new asset account model, it defines how a thing is tokenized <br> and how it deals with ownerships and tradings in a decentralized way. <br> The Singular asset model implements a concept: <br> One thing == One smart contract
                        </div>
                        <p>The Singular project is a natural development in the spirit of</p>
                        <p>some of the earlier blockchain proponents who had envi</p>
                        <p>sioned what blockchain with smart contracts would achieve.</p>
                        <a target="_blank" href=""><button class="btnlinear"><i class="iconlink"></i> <span>More about Singular</span></button></a>
                    </div>
                </div>
                <div class="oneright nright col-xs-12">
                    <img src="img/home/one.png" alt="one">
                </div>
            </div>      
        </div>
    </div>
  </div>
</section>

