     <!-- Roadmap Section -->
<section id="roadmap" class="text-center">
  <div class="container">
    <div class="contContainer">
     <div class="row roadmap">
         <h2 class="title">Roadmap</h2>
         <hr class="title-hr">
         <ul class="timeline">
             <li class="timeline-done timeline-interved">
                 <div class="timeline-road timeline-moved timeline-roadtop"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2017 Q2
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon1.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4 class="speLine">Project kickoff</h4>
                      </div>
                    </div>
                 </div>
             </li>
             <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2017 Q4
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon2.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>Research completed</h4>
                      </div>
                      <div class="timeline-body">
                          <p>Coding started <br>Core team built up</p>
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done timeline-interved">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2018 Q1
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon3.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP FOUNDATION launched</h4>
                      </div>
                      <div class="timeline-body">
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done speroadmapli">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2018 Q2
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon4.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP concept completed</h4>
                      </div>
                      <div class="timeline-body speroadmapleft">
                          <p>Expand eco-system and community<br>Technical white papers released <br> Started coding Proof-of-Concept prototypes and demos</p>
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done timeline-interved speroadmapli">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2018 Q3
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon5.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP Minimum Viable Product(MVP) deployed and released</h4>
                      </div>
                      <div class="timeline-body speroadmap">
                          <p>Singular Smart Contract Framework released <br>
State channel modules completed <br>
Harvest Asset Wallet (MVP) released  <br>
First app – UMedia (MVP) released</p>
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done speroadmapli">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2018 Q4
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon6.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP middleware V0.4 released</h4>
                      </div>
                      <div class="timeline-body speroadmapleft">
                          <p>Singular Framework 0.5 release <br>
                            Harvest Asset Wallet beta release <br>
                            UMedia officially launched <br>
                            Community Support Program launched</p>
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done timeline-interved">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2019 Q2
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon7.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP mainnet infrastructure V0.5 release</h4>
                      </div>
                      <div class="timeline-body">
                          <p>More business partner’s application released</p>
                          Ethereum and State Channel-based game engine released <br>
                          x-Certificate wallet released <br>
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2019 Q4
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon8.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP mainnet deployed</h4>
                      </div>
                      <div class="timeline-body">
                          <p>C2C Asset Marketplace released <br> More community projects kicked off</p>
                      </div>  
                    </div>
                 </div>
             </li>
             <li class="timeline-done timeline-interved">
                 <div class="timeline-road timeline-moved timeline-roadbottom"></div>
                 <div class="timeline-panel">
                    <div class="timeline-circle"><span></span></div>
                    <div class="timeline-date">
                        2020 Q1
                    </div>
                    <div class="timeline-icon">
                        <img src="img/roadmap/icon9.png" alt="icon">
                    </div>
                    <div class="timeline-cont">
                      <div class="timeline-heading">
                          <h4>UDAP Middleware V1.0 operated</h4>
                      </div>
                      <div class="timeline-body">
                          <p>C2C Asset Marketplace operated</p>
                      </div>  
                    </div>
                 </div>
             </li>

             
         </ul>
     </div>
     </div>
     </div>
 </section>
