     <!-- Roadmap Section -->
<section id="roadmap" class="content-section text-center">
	<div class="container">
     <div class="row">
         <h2 class="title">Roadmap</h2>
         <div class="timeline">
             <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <h4 class="date-month">2017 Q2</h4>
             </li>
             <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/blockchain.png" alt="time">
                     <h4>Q4 2017</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>Project Kickoff &amp; Research</h4>
                         <h4 class="subheading">Completed</h4>
                     </div>
                     <div class="timeline-body">
                         <p>Brainstormed asset-related use cases and blockchain technologies. Organized core team and started working on technical and business whitepapers.</p>
                     </div>
                 </div>
             </li>
             <li class="timeline-done timeline-interved">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/whitepaper.png" alt="time">
                     <h4>Q1 2018</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>UDAP Foundation</h4>
                         <h4 class="subheading">Launched</h4>
                     </div>
                     <div class="timeline-body">
                         <p>Completed technical and business whitepapers. Peer-reviewed and published. Launched UDAP Foundation website. Started coding Proof-of-Concept prototypes and demos.</p>
                     </div>
                 </div>
             </li>
             <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/poc.png" alt="time">
                     <h4>Q2 2018</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>UDAP Proof of Concept</h4>
                         <h4 class="subheading">Completed</h4>
                     </div>
                     <div class="timeline-body">
                         <p>
													 Lots of Coding. Apply PoC technologies to different business domains. Expand UDAP eco-system and community, attract more business partners, increase media exposure &amp; communications.
												 </p>
                     </div>
                 </div>
             </li>
             <li class="timeline-done  timeline-interved">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/mvp.png" alt="time">
                     <h4>Q3 2018</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>UDAP Minimum Variable Product</h4>
                         <h4 class="subheading">Deployed and Released</h4>
                     </div>
                     <div class="timeline-body">
                         <p>Design and develop UDAP smart contracts and APIs. Launch UDAP MVP. Prioritize projects with BPs.</p>
                     </div>
                 </div>
             </li>
						 <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/mobileapps.png" alt="time">
                     <h4>Q4 2018</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>Selected UDAP-enabled Applications</h4>
                         <h4 class="subheading">Released</h4>
                     </div>
                     <div class="timeline-body">
                         <p>
													 One or two UDAP-enabled applications of selected Business Partners are deployed and functioning on UDAP MVP.
												 </p>
                     </div>
                 </div>
             </li>
						 <li class="timeline-done  timeline-interved">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/wallet.png" alt="time">
                     <h4>Q2 2019</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>UDAP Mainnet Infrastructure v0.5</h4>
                         <h4 class="subheading">Built and Shared</h4>
                     </div>
                     <div class="timeline-body">
                         <p>
													 Build UDAP mainnet and invite miners to join, deploy UDAP smart contracts, open to community for reviewing and hacking, release full functional asset wallet with support of pluggable apps.
												 </p>
                     </div>
                 </div>
             </li>
						 <li class="timeline-done">
                 <div class="timeline-road timeline-moved"></div>
                 <div class="timeline-image">
                     <img class="img-circle img-responsive" src="img/mainnet.png" alt="time">
                     <h4>Q4 2019</h4>
                 </div>
                 <div class="timeline-panel">
                     <div class="timeline-heading">
                         <h4>UDAP Mainnet and C2C Marketplace</h4>
                         <h4 class="subheading">Released RC</h4>
                     </div>
                     <div class="timeline-body">
                         <p>
													 Develop and deploy UDAP Mainnet RC, kick off more community projects, develop and test global C2C asset marketplace.
												 </p>
                     </div>
                 </div>
             </li>
						 <li class="timeline-done  timeline-interved">
									<div class="timeline-road timeline-moved"></div>
									<div class="timeline-image">
											<img class="img-circle img-responsive" src="img/marketplace.png" alt="time">
											<h4>Q1 2020</h4>
									</div>
									<div class="timeline-panel">
											<div class="timeline-heading">
													<h4>UDAP Mainnet v1.0</h4>
													<h4 class="subheading">Operated</h4>
											</div>
											<div class="timeline-body">
													<p>
													 Upgrade and operate UDAP Mainnet v1.0, deploy and operate global C2C marketplace, develop and release new dev plans.
												 </p>
											</div>
									</div>
							</li>
         </div>
     </div>
     </div>
 </section>
