<section class="matters mattersbg">
 <div class="container">
    <div class="contContainer">
        <div class="row about aboutSolution">
             <div class="mtitle">
                     <ul class="media">
                         <div class="media-body">
                             <h3  class="media-heading">What are our solutions?</h3>
                             <ul class="matters-lists">
                                 <li>
                                     <span class="number">01</span>
                                     <div class="mlist">
                                         <h4>Valuable decentralized features that do not require heavy investment in blockchain technologies. </h4>
                                         <p>UDAP defines convenient APIs for traditional vertical applications. This allows them to integrate with blockchains. An added benefit to application developers is that a deep understanding of blockchain and decentralization technologies is not required.</p>
                                     </div>
                                 </li>
                                 <li>
                                     <span class="number">02</span>
                                     <div class="mlist">
                                        <h4>Fast, cheap and secure integration with public blockchains, without specific lock-in. </h4>
                                         <p>UDAP implements State Channel technology to solve some of the most challenging issues with developing and running Blockchain-based applications. State Channel technology provides high scalability, low cost, privacy protection and immediate responsive.</p> 
                                     </div>
                                 </li>
                                 <li class="noneBottom">
                                     <span class="number">03</span>
                                     <div class="mlist">
                                         <h4>Application Wallet with in-app currency and Smart Contracts that provide asset life cycle management, trading (including some common trading models like buy and sell, rental, auction, pledge, etc.) and search capability.</h4>
                                         <p>UDAP has a set of smart contracts templates (initially based on Ethereum) that are configured by applications before deployment and at runtime. Early testing shows that this automatic templating system can cover 90% of regular application use cases.</p>
                                     </div>
                                 </li>
                             </ul>
                         </div>
                 </ul>
             </div>     
        </div>
    </div>   
</div>
</section>