<section class="matters">
 <div class="container">
    <div class="contContainer">
        <div class="row about aboutSolution">
             <div class="mtitle">
                 <div class="nav-heading">About</div>
                 <hr class="heading-hr">
                 <h1 class="heading-h1">WHY <span>UÐAP</span> MATTERS</h1>
                 <ul  class="media-list">
                     <li class="media">
                         <div class="media-body">
                             <h3  class="media-heading">What are our solutions?</h3>
                             <ul class="matters-lists">
                                 <li>
                                     <span class="number">01</span>
                                     <div class="mlist">
                                         <h4>Great decentralized features without investing heavily in underlying blockchain technologies</h4>
                                         <p>UDAP defines convenient APIs for traditional vertical applications to integrate with blockchains, which would not require application developers to have a deep understanding of blockchain and decentralization technologies.</p>
                                     </div>
                                 </li>
                                 <li>
                                     <span class="number">02</span>
                                     <div class="mlist">
                                        <h4>Fast, cheap and secure integration with public blockchains, without specific lock-in</h4>
                                         <p>UDAP implements state channel technology to solve some of the most challenging issues with developing and running Blockchain-based applications, and providing a high scalability, low coast, privacy protected and immediate responsiveness. App-economy with in-app currency and asset life cycle management, trading and search capability.</p> 
                                     </div>
                                 </li>
                                 <li class="noneBottom">
                                     <span class="number">03</span>
                                     <div class="mlist">
                                         <h4>App-economy with in-app currency and asset life cycle management, trading and search capability</h4>
                                         <p>UDAP provides a set of smart contract (initially based on Ethereum) templates that is configured by applications before deployment and at runtime. We believe that the automatic templating system can cover 90% of regular application use cases.</p>
                                     </div>
                                 </li>
                             </ul>
                         </div>
                     </li>
                 </ul>
             </div>     
        </div>
    </div>   
</div>
</section>