<!-- Contact Section -->
<section id="team" class="text-center">
  <div class="team row">
    <div class="container">
      <div class="contContainer">
          <div class="contSection">
              <h2 class="title text-center">Team</h2>
              <hr class="title-hr bghr">
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/bingran.png" alt="people"/>
                  <div class="caption">
                    <h4><span>Bing Ran</span>
                      <a href="https://www.linkedin.com/in/bing-ran-%E5%86%89%E5%85%B5-6651001/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                      <a href="https://github.com/branaway" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>       
                    <p class="jobtitle">Co-Founder</p>
                    <p>Cryptocurrency Programmer, JVM-related programming language designer and developer, Groovy, Spring, ASM contributor, Architect for Internet Applications, Former IBM Canada Architect</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/Derrick.png" alt="Douglas Wang"/>
                  <div class="caption">
                    <h4><span>Derrick Warren</span>
                      <a href="https://www.linkedin.com/in/dvwarren" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>         
                    <p class="jobtitle">Chairman of Foundation</p>
                    <p>Former Vice President of IBM Global Services, Thought-Leader and Expert in IT Sales and Delivery, Strategic Transformation, Solution Consulting, and Client Management</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/lizhang.png" alt="Li Zhang"/>
                  <div class="caption">
                    <h4><span>Li Zhang</span>
                      <a href="https://www.linkedin.com/in/li-zhangc" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                      <a href="https://github.com/cybertriton" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>         
                    <p class="jobtitle">Co-Founder</p>
                    <p>Former Managing Director of Planning and Consulting of Inspur Group, Former Senior Managing Consultant of IBM GBS, IBM Certified Architect,PhD of CS from Chinese Academy of Science.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/frankying.png" alt="Frank Ying"/>
                  <div class="caption">
                    <h4><span>Frank Ying</span>
                      <a href="https://www.linkedin.com/in/frank-ying-431a8/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>         
                    <p class="jobtitle">Co-Founder</p>
                    <p>SME of Gaming and IP Industry, Former VP of Business at EPE, Former Managing Director at True Corp China, Former BD Director at The9, Former Publishing Director at In-Fusio, he had MS from CSULB.</p>
                  </div>
                </div>
              </div> 
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/xfhe.png" alt="Xiaofeng He"/>
                  <div class="caption">
                    <h4><span>Xiaofeng He</span>
                      <a href="http://www.linkedin.com/in/xiaofeng-he-6b5a452/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Chief Scientist</p>
                    <p>Professor of Machine Learning and Big Data Analytics, East China Normal University. Former Research Scientist at Yahoo, Microsoft, Lawrence Berkeley National Lab; PhD at Penn State University</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/DouglasWang.png" alt="Douglas Wang"/>
                  <div class="caption">
                    <h4><span>Douglas Wang</span>
                      <a href="http://www.linkedin.com/in/wangdou" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Founder of JIC Capital</p>
                    <p>Blockchain & Crypto Investor, Community Operations Expert, Blockchain Robot Inventor, Founder of JIC Capital, Former Sales Director at HP China</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/nadimuddin.png" alt="nadimuddin"/>
                  <div class="caption">
                    <h4><span>NADIM UDDIN</span>
                      <a href="http://linkedin.com/in/nadim-uddin-390431158" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Growth Strategist</p>
                    <p>Growth strategist for PCHAIN,  Marketing Manager for VIDY, Blockchain & Crypto Investor, Blockchain Marketing Expert, entrepreneur, inventor in technology, blockchain ecosystem, digital marketing, experience as Business Analyst.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx">
                  <img class="img-circle" src="img/team/murrydiao.png" alt="murrydiao"/>
                  <div class="caption">
                    <h4><span>MURRY DIAO</span>
                      <a href="https://github.com/BigMurry" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Blockchain Developer</p>
                    <p>Full stack developer and blockchain technology enthusiast, Cryptokitty Chinese community core member, Founder of LocalKitty</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/lycrustang.png" alt="lycrustang"/>
                  <div class="caption">
                    <h4><span>LYCRUS TANG</span>
                      <a href="https://github.com/LycrusHamster" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Blockchain Developer</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/joelong.png" alt="joelong"/>
                  <div class="caption">
                    <h4><span>JOE LONG</span>
                      <a href="https://github.com/loselovegirl" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Blockchain Developer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/ruiliguo.png" alt="ruiliguo"/>
                  <div class="caption">
                    <h4><span>RUILI GUO</span>
                      <a href="https://www.linkedin.com/in/%E7%9D%BF%E7%AB%8B-%E9%83%AD-94197bbb/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                      <a href="https://github.com/cookedsteak" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Blockchain Developer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/wenliwu.png" alt="wenliwu"/>
                  <div class="caption">
                    <h4><span>WENLI WU</span>
                      <a href="https://www.linkedin.com/in/wenli-wu-a671a492/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                      <a href="https://github.com/wwlleo0730" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Blockchain Application Engineer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/liangpeihuang.png" alt="liangpeihuang"/>
                  <div class="caption">
                    <h4><span>LIANGPEI HUANG</span>
                      <a href="https://github.com/liangpeihuang" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Front-end and Nodejs Development</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/caizhengdong.png" alt="caizhengdong"/>
                  <div class="caption">
                    <h4><span>CAIZHENG DONG</span>
                      <a href="https://www.linkedin.com/in/才正-董-11b676165/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                      <a href="https://github.com/ronalmessi" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Android Developer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/cicichen.png" alt="cicichen"/>
                  <div class="caption">
                    <h4><span>CAIZHENG DONG</span>
                      <a href="https://www.linkedin.com/in/%E5%B2%91-%E9%99%88-57774b166/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                      <a href="https://github.com/lgh81010" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior Testing Engineer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/bohu.png" alt="bohu"/>
                  <div class="caption">
                    <h4><span>BO HU</span>
                      <a href="https://github.com/linkio" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior iOS Developer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/luchen.png" alt="luchen"/>
                  <div class="caption">
                    <h4><span>LU CHEN</span>
                      <a href="https://www.linkedin.com/in/lu-chen-616750166" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Senior UI/UX Designer</p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="team-bx shortteam">
                  <img class="img-circle" src="img/team/lvywang.png" alt="lvywang"/>
                  <div class="caption">
                    <h4><span>IVY WANG</span>
                      <a href="https://www.linkedin.com/in/%E8%94%9A-%E7%8E%8B-24172b159/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                    </h4>          
                    <p class="jobtitle">Operational Manager</p>
                    <p></p>
                  </div>
                </div>
              </div>
          </div>
      </div>     
    </div>    
  </div>
</section>
