<!-- Contact Section -->
<section id="team" class="text-center">
  <div class="team row">
    <div class="container">
      <div class="contContainer">
        <div class="contSection">
          <h2 class="title text-center">Executive Team</h2>
          <hr class="title-hr bghr" />
          <div class="col-sm-3">
            <div class="team-bx">
              <img class="img-circle" src="img/team/bingran.png" alt="people" />
              <div class="caption">
                <h4><span>Bing Ran</span></h4>
                <p class="jobtitle">Co-Founder</p>
                <p>
                  Cryptocurrency Programmer, JVM-related programming language
                  designer and developer, Groovy, Spring, ASM contributor,
                  Architect for Internet Applications, Former IBM Canada
                  Architect
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-bx">
              <img
                class="img-circle"
                src="img/team/lizhang.png"
                alt="Li Zhang"
              />
              <div class="caption">
                <h4>
                  <span>Li Zhang</span>
                </h4>
                <p class="jobtitle">Co-Founder</p>
                <p>
                  Former Managing Director of Planning and Consulting of Inspur
                  Group, Former Senior Managing Consultant of IBM GBS, IBM
                  Certified Architect,PhD of CS from Chinese Academy of Science.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-bx">
              <img
                class="img-circle"
                src="img/team/lianzi@2x.png"
                alt="Miya Lu"
              />
              <div class="caption">
                <h4>
                  <span>Miya Lu</span>
                </h4>
                <p class="jobtitle">CEO</p>
                <p>
                  Operating strategic partner of iClass Technology, co-founder
                  of Lianpin Network Technology, co-founder of Shenyun
                  Information Technology , Experienced operating manager for
                  more than ten years, specialized in planning and operating
                  online commercial product.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-bx">
              <img
                class="img-circle"
                src="img/team/majun@2x.png"
                alt="Jun Ma"
              />
              <div class="caption">
                <h4>
                  <span>Jun Ma</span>
                </h4>
                <p class="jobtitle">Financial consultant</p>
                <p>
                  Operating partner of CVCapital, specialized in VC/PE
                  investment, private equity financing, and merger consulting.
                  He has completed a total transaction amount of over 7 billion
                  USD. He is widely connected in the investment circle.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-bx">
              <img
                class="img-circle"
                src="img/team/xueweihua@2x.png"
                alt="Weihua Xue"
              />
              <div class="caption">
                <h4>
                  <span>Weihua Xue</span>
                </h4>
                <p class="jobtitle">Legal consultant</p>
                <p>
                  Senior partner of SG&CO Lawyers Shanghai, director of the
                  technological research committee of internet and finance,
                  bachelor degree of law of Fudan University. Experienced in
                  foreign investment, foreign merger and acquisition, banking
                  finance, and governmental crisis PR.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
