<div id="team">
  <div class="container-fluid" id="teamweb">
    <section class="text-center teamItem">
      <div class="team row">
        <div class="container">
          <div class="contContainer">
            <div class="contSection">
              <h2 class="title text-center">Operating Team</h2>
              <hr class="title-hr bghr" />
              <div class="col-sm-4">
                <div class="team-bx shortteam" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/wuyongqiang@2x.png"
                    alt="Yongqiang Wu"
                  />
                  <div class="caption">
                    <h4>
                      <span>Yongqiang Wu</span>
                    </h4>
                    <p class="jobtitle">
                      Partner and consultant of UMX Crypto Visual Art
                    </p>
                    <p>
                      Literature Doctorate and Professor of Sichuan University,
                      Doctoral Supervisor, Deputy Director of Artist Association
                      of Sichuan, Vice President of the Critic’s Association of
                      Art and Literature of Chengdu.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx shortteam" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/tangbiao@2x.png"
                    alt="Biao Tang"
                  />
                  <div class="caption">
                    <h4>
                      <span>Biao Tang</span>
                    </h4>
                    <p class="jobtitle">Partner of UMX Crypto Visual Art</p>
                    <p>
                      Art Director of Pixel Dimension Gallery of Chengdu,
                      Curator, Collector.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx shortteam" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/wengyongmei@2x.png"
                    alt="May Weng"
                  />
                  <div class="caption">
                    <h4>
                      <span>May Weng</span>
                    </h4>
                    <p class="jobtitle">Partner of UMX Crypto Visual Art</p>
                    <p>
                      Director of operations of UMX Crypto Art, Art Investor,
                      Collector. She is an experienced advertising planner and
                      is widely influential in the circle of brand marketing.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx shortteam" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/lulu@2x.png"
                    alt="Lu Lu"
                  />
                  <div class="caption">
                    <h4>
                      <span>Lu Lu</span>
                    </h4>
                    <p class="jobtitle">Partner of UMX Crypto Musical Art</p>
                    <p>
                      experienced entertainment agent, transboundary producer,
                      director. She has worked with multiple well-known bands
                      and musicians. Since the start of her career in 2004, she
                      has been in constant cooperation with numerous record
                      companies, labels, and independent musicians. She is very
                      resourceful. She planned and carried out over a thousand
                      nationwide tours and hundreds of music festivals,
                      concerts, and transboundary art projects.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx shortteam" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/zhangwei@2x.png"
                    alt="Wei Zhang"
                  />
                  <div class="caption">
                    <h4>
                      <span>Wei Zhang</span>
                    </h4>
                    <p class="jobtitle">Partner of UMX Crypto Musical Art</p>
                    <p>
                      He is experienced in the business practice and expansion
                      of sino-foreign cooperation, including but not limited to
                      the domains of healthcare, construction, intelligent
                      housing system, retail, e-commerce, computer visual, and
                      blockchain. He is fluent in English, Italian, and German.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
