<div id="team">
    <div class="container-fluid" id="teamweb">
      <section class="text-center teamItem">
      <div class="team row">
        <div class="container">
          <div class="contContainer">
              <div class="contSection">
                  <h2 class="title text-center">Team</h2>
                  <hr class="title-hr bghr">
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/lianzi.png" alt="miyalu"/>
                      <div class="caption">
                        <h4><span>MIYA LU</span>
                          <!-- <a href="https://github.com/LycrusHamster" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a> -->
                        </h4>
                        <p class="jobtitle">Chief Operating Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/lycrustang.png" alt="lycrustang"/>
                      <div class="caption">
                        <h4><span>LYCRUS TANG</span>
                          <a href="https://github.com/LycrusHamster" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Blockchain Developer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/joelong.png" alt="joelong"/>
                      <div class="caption">
                        <h4><span>JOE LONG</span>
                          <a href="https://github.com/loselovegirl" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Blockchain Developer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/ruiliguo.png" alt="ruiliguo"/>
                      <div class="caption">
                        <h4><span>RUILI GUO</span>
                          <a href="https://www.linkedin.com/in/%E7%9D%BF%E7%AB%8B-%E9%83%AD-94197bbb/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                          <a href="https://github.com/cookedsteak" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Blockchain Developer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/wenliwu.png" alt="wenliwu"/>
                      <div class="caption">
                        <h4><span>WENLI WU</span>
                          <a href="https://www.linkedin.com/in/wenli-wu-a671a492/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                          <a href="https://github.com/wwlleo0730" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Blockchain Application Engineer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/liangpeihuang.png" alt="liangpeihuang"/>
                      <div class="caption">
                        <h4><span>LIANGPEI HUANG</span>
                          <a href="https://github.com/liangpeihuang" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Front-end and Nodejs Development</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/caizhengdong.png" alt="caizhengdong"/>
                      <div class="caption">
                        <h4><span>CAIZHENG DONG</span>
                          <a href="https://www.linkedin.com/in/才正-董-11b676165/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                          <a href="https://github.com/ronalmessi" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Android Developer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/cicichen.png" alt="cicichen"/>
                      <div class="caption">
                        <h4><span>CICI CHEN</span>
                          <a href="https://www.linkedin.com/in/%E5%B2%91-%E9%99%88-57774b166/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                          <a href="https://github.com/lgh81010" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior Testing Engineer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/bohu.png" alt="bohu"/>
                      <div class="caption">
                        <h4><span>BO HU</span>
                          <a href="https://github.com/linkio" class="github-icon" target="_blank"><img src="img/intro/social-logo-githubw.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior iOS Developer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/luchen.png" alt="luchen"/>
                      <div class="caption">
                        <h4><span>LU CHEN</span>
                          <a href="https://www.linkedin.com/in/lu-chen-616750166" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior UI/UX Designer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/amy.png" alt="yimei-huang"/>
                      <div class="caption">
                        <h4><span>YIMEI HUANG</span>
                          <a href="https://www.linkedin.com/in/yimei-huang/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Senior UI/UX Designer</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="team-bx shortteam">
                      <img class="img-circle" src="img/team/lvywang.png" alt="lvywang"/>
                      <div class="caption">
                        <h4><span>IVY WANG</span>
                          <a href="https://www.linkedin.com/in/%E8%94%9A-%E7%8E%8B-24172b159/" class="linkedin-icon" target="_blank"><img src="img/intro/in.png" alt=""></a>
                        </h4>
                        <p class="jobtitle">Operational Manager</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
