<!-- Contact Section -->
<section id="team" class="content-section text-center">
  <div class="container row team-container">
    <h2 class="title text-center">Team</h2>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/team/bingran.png" alt="people" height="88" width="88" />
        <div class="caption">
          <h4>Bing Ran</h4>
          <p><a href="https://www.linkedin.com/in/bing-ran-%E5%86%89%E5%85%B5-6651001/" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>          
          <p class="jobtitle">Co-Founder</p>
          <p>Cryptocurrency Programmer, JVM-related Scripting Language Developer, Architect for Internet Applications, CEO of Chain Mind Ltd, CEO of iClass Information Technologies, Former IBM Architect</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/team/Derrick.png" alt="Douglas Wang" height="88" width="88" />
        <div class="caption">
          <h4>Derrick Warren</h4>
            <p><a href="https://www.linkedin.com/in/dvwarren" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>          
          <p class="jobtitle">Chairman of Foundation</p>
          <p>Former Vice President of IBM Global Services, Thought-Leader and Expert in IT Sales and Delivery, Strategic Transformation, Solution Consulting, and Client Management</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/team/lizhang.png" alt="Li Zhang" height="88" width="88" />
        <div class="caption">
          <h4>Li Zhang</h4>
            <p><a href="https://www.linkedin.com/in/li-zhangc" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>          
          <p class="jobtitle">Co-Founder</p>
          <p>Cryptocurrency Enthusiast, Blockchain Advocate, CTO of Chain Mind Ltd., Former Managing Director of Consulting at Inspur Group, Former Senior Managing Consultant at IBM, IBM Certified Architect</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/team/frankying.png" alt="Frank Ying" height="88" width="88" />
        <div class="caption">
          <h4>Frank Ying</h4>
            <p><a href="https://www.linkedin.com/in/frank-ying-431a8/" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>          
          <p class="jobtitle">Co-Founder</p>
          <p>SME of Gaming and IP Industry, COO of Chain Mind Ltd., Former VP of Business at EPE, Former Managing Director at True Corp China, Former BD Director at The9</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/team/xfhe.png" alt="Xiaofeng He" height="88" width="88" />
        <div class="caption">
          <h4>Xiaofeng He</h4>
            <p><a href="http://www.linkedin.com/in/xiaofeng-he-6b5a452/" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>          
          <p class="jobtitle">Chief Scientist</p>
          <p>Professor of Machine Learning and Big Data Analytics, East China Normal University. Former Research Scientist at Yahoo, Microsoft, Lawrence Berkeley National Lab; PhD at Penn State University</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/team/DouglasWang.png" alt="Douglas Wang" height="88" width="88" />
        <div class="caption">
          <h4>Douglas Wang</h4>
            <p><a href="http://www.linkedin.com/in/wangdou" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>          
          <p class="jobtitle">Founder of JIC Capital</p>
          <p>Blockchain & Crypto Investor, Community Operations Expert, Blockchain Robot Inventor, Founder of JIC Capital, Former Sales Director at HP China</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fulid bg-gray">
    <div class="row team-container">
      <h2 class="title text-center">Advisors</h2>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/andrew.jpg" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>Andrew Sotiropoulos</h4>
            <p><a href="https://www.linkedin.com/in/andrew-sotiropoulos-aa62185/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">Senior Executive</p>
            <p>Cloud Computing Expert, Former General Manager of IBM GTS Asia Pacific, Former IBM General Manager for Pure Systems</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/sandra.jpg" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>Dr. Sandra Johnson</h4>
            <p><a href="https://www.linkedin.com/in/drsandrakj/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">CEO, SKJ Visioneering</p>
            <p>Blockchain Ambassador, Global Technology Leader, Innovator, Master Inventor (with over 40 issued and pending patents), Former IBM Africa CTO</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/lars.jpg" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>Dr. Lars Mathiassen</h4>
            <p><a href="http://larsmathiassen.org" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">Professor, Georgia State University</p>
            <p>Co-Founder of Center for Process Innovation at Robinson College of Business, Co-founder of Scandinavian Journal of Information Systems, Senior Editor for MIS Quarterly</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/yuan.jpg" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>Yuan Dao (Sheng Chen)</h4>
            <p><a href="https://www.linkedin.com/in/josh-sheng-chen-11229/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">Founder of 21ViaNet Group Inc.</p>
            <p>Investor, Thought-leader and Evangelist for Token Economy, Board Chairman of 21 ViaNet Group Inc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/johnma.png" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>John Ma</h4>
            <p><a href="https://www.linkedin.com/in/john-ma-cfa-7266b411/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">COO at CVCapital</p>
            <p>CFA, Former Head of Asia ECM at Roth Capital Partners, Former Portfolio Manager at Innovus Financial Solutions</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/harrison.jpg" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>Harrison Ding</h4>
            <p><a href="https://www.linkedin.com/in/husheng-harrison-ding-5727aa7/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">Entrepreneur</p>
            <p>CEO of Multiple Listing Network, Former President of Global Caravan Technologies Inc, Former Global Council Chair for Subcontract Services, IBM</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/james.jpg" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>James Chou</h4>
            <p><a href="https://www.linkedin.com/in/james-chou-27a8ba/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">CEO of Microsoft Accelerator Shanghai</p>
            <p>Former CEO of Golden Sun Software Inc, Former Co-Founder of 99cloud Inc, Former Senior Director of AsiaInfo Holdering Inc</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-bx">
          <img class="img-circle" src="img/team/advisors/susieyin.png" alt="people" height="88" width="88" />
          <div class="caption">
            <h4>Susie Yin</h4>
            <p><a href="https://www.linkedin.com/in/susie-yin-79191819/" class="linkedin-icon" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>            
            <p class="jobtitle">VP at Dianrong.com</p>
            <p>Former Marketing Director at Doosan, Former VP of Marketing for Asia at Hubbell Power Systems, Former IBT General Manager for North China at Siemens</p>
          </div>
        </div>
      </div>

    </div>    
  </div>
</section>
