<!-- Contact Section -->
<section id="team" class="text-center">
  <div class="team row">
    <div class="container">
      <div class="contContainer">
          <div class="contSection" style="margin-top: -283px;">
              <h2 class="title text-center">Team</h2>
              <hr class="title-hr" style="margin-bottom: 10px;">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/bingran.png" alt="people"/>
                  <div class="caption">
                    <h4>Bing Ran
                      <a href="https://www.linkedin.com/in/bing-ran-%E5%86%89%E5%85%B5-6651001/" class="linkedin-icon" target="_blank"></a>
                      <a href="https://github.com/branaway" class="github-icon" target="_blank"></a>
                    </h4>       
                    <p class="jobtitle">Co-Founder</p>
                    <p style="line-height:16px;">Cryptocurrency Programmer, JVM-related programming language designer and developer, Groovy, Spring, ASM contributor, Architect for Internet Applications, Former IBM Canada Architect</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/Derrick.png" alt="Douglas Wang"/>
                  <div class="caption">
                    <h4>Derrick Warren
                      <a href="https://www.linkedin.com/in/dvwarren" class="linkedin-icon" target="_blank"></a>
                    </h4>         
                    <p class="jobtitle">Chairman of Foundation</p>
                    <p style="line-height:16px;">Former Vice President of IBM Global Services, Thought-Leader and Expert in IT Sales and Delivery, Strategic Transformation, Solution Consulting, and Client Management</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/lizhang.png" alt="Li Zhang"/>
                  <div class="caption">
                    <h4>Li Zhang
                      <a href="https://www.linkedin.com/in/li-zhangc" class="linkedin-icon" target="_blank"></a>
                      <a href="https://github.com/cybertriton" class="github-icon" target="_blank"></a>
                    </h4>         
                    <p class="jobtitle">Co-Founder</p>
                    <p style="line-height:16px;">Cryptocurrency Enthusiast, Blockchain-based Supply Chain Finance Advocate, Former Managing Director of Planning and Consulting of Inspur Group, Former Senior Managing Consultant of IBM GBS, IBM Certified Architect, he had PhD of CS from Chinese Academy of Science.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/frankying.png" alt="Frank Ying"/>
                  <div class="caption">
                    <h4>Frank Ying
                      <a href="https://www.linkedin.com/in/frank-ying-431a8/" class="linkedin-icon" target="_blank"></a>
                    </h4>         
                    <p class="jobtitle">Co-Founder</p>
                    <p style="line-height:16px;">SME of Gaming and IP Industry, Former VP of Business at EPE, Former Managing Director at True Corp China, Former BD Director at The9, Former Publishing Director at In-Fusio, he had MS from CSULB.</p>
                  </div>
                </div>
              </div> 
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/xfhe.png" alt="Xiaofeng He"/>
                  <div class="caption">
                    <h4>Xiaofeng He
                      <a href="http://www.linkedin.com/in/xiaofeng-he-6b5a452/" class="linkedin-icon" target="_blank"></a>
                    </h4>          
                    <p class="jobtitle">Chief Scientist</p>
                    <p style="line-height:16px;">Professor of Machine Learning and Big Data Analytics, East China Normal University. Former Research Scientist at Yahoo, Microsoft, Lawrence Berkeley National Lab; PhD at Penn State University</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/DouglasWang.png" alt="Douglas Wang"/>
                  <div class="caption">
                    <h4>Douglas Wang
                      <a href="http://www.linkedin.com/in/wangdou" class="linkedin-icon" target="_blank"></a>
                    </h4>          
                    <p class="jobtitle">Founder of JIC Capital</p>
                    <p style="line-height:16px;">Blockchain & Crypto Investor, Community Operations Expert, Blockchain Robot Inventor, Founder of JIC Capital, Former Sales Director at HP China</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-bx" style="min-height:250px;padding-top: 0;">
                  <img class="img-circle" src="img/team/nadimuddin.png" alt="nadimuddin"/>
                  <div class="caption">
                    <h4>NADIM UDDIN
                      <a href="http://linkedin.com/in/nadim-uddin-390431158" class="linkedin-icon" target="_blank"></a>
                    </h4>          
                    <p class="jobtitle">Growth Strategist</p>
                    <p style="line-height:16px;">Growth strategist for PCHAIN,  Marketing Manager for VIDY, Blockchain & Crypto Investor, Blockchain Marketing Expert, entrepreneur, inventor in technology, blockchain ecosystem, digital marketing, experience as Business Analyst.</p>
                  </div>
                </div>
              </div>
          </div>
      </div>     
    </div>    
  </div>
</section>
