<div id="team">
  <div class="container-fluid" id="teamweb">
    <section class="text-center teamItem">
      <div class="team row">
        <div class="container">
          <div class="contContainer">
            <div class="contSection">
              <h2 class="title text-center">Executive Team</h2>
              <hr class="title-hr bghr" />
              <div class="col-sm-4">
                <div class="team-bx" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/bingran.png"
                    alt="people"
                  />
                  <div class="caption">
                    <h4>
                      <span>Bing Ran</span>
                      <!-- <a
                        href="https://www.linkedin.com/in/bing-ran-%E5%86%89%E5%85%B5-6651001/"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                      <a
                        href="https://github.com/branaway"
                        class="github-icon"
                        target="_blank"
                        ><img src="img/intro/social-logo-githubw.png" alt=""
                      /></a> -->
                    </h4>
                    <p class="jobtitle">CEO</p>
                    <p>
                      Cryptocurrency Programmer, JVM-related programming
                      language designer and developer, Groovy, Spring, ASM
                      contributor, Architect for Internet Applications, Former
                      IBM Canada Architect
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-3">
                <div class="team-bx">
                  <img
                    class="img-circle"
                    src="img/team/Derrick.png"
                    alt="Douglas Wang"
                  />
                  <div class="caption">
                    <h4>
                      <span>Derrick Warren</span>
                      <a
                        href="https://www.linkedin.com/in/dvwarren"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                    </h4>
                    <p class="jobtitle">Chairman of Foundation</p>
                    <p>
                      Former Vice President of IBM Global Services,
                      Thought-Leader and Expert in IT Sales and Delivery,
                      Strategic Transformation, Solution Consulting, and Client
                      Management
                    </p>
                  </div>
                </div>
              </div> -->
              <div class="col-sm-4">
                <div class="team-bx" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/lizhang.png"
                    alt="Li Zhang"
                  />
                  <div class="caption">
                    <h4>
                      <span>Li Zhang</span>
                      <!-- <a
                        href="https://www.linkedin.com/in/li-zhangc"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                      <a
                        href="https://github.com/cybertriton"
                        class="github-icon"
                        target="_blank"
                        ><img src="img/intro/social-logo-githubw.png" alt=""
                      /></a> -->
                    </h4>
                    <p class="jobtitle">CTO</p>
                    <p>
                      Former Managing Director of Planning and Consulting of
                      Inspur Group, Former Senior Managing Consultant of IBM
                      GBS, IBM Certified Architect,PhD of CS from Chinese
                      Academy of Science.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/lianzi@2x.png"
                    alt="Miya Lu"
                  />
                  <div class="caption">
                    <h4>
                      <span>Miya Lu</span>
                    </h4>
                    <p class="jobtitle">COO</p>
                    <p>
                      Operating strategic partner of iClass Technology,
                      co-founder of Lianpin Network Technology, co-founder of
                      Shenyun Information Technology , Experienced operating
                      manager for more than ten years, specialized in planning
                      and operating online commercial product.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/majun@2x.png"
                    alt="Jun Ma"
                  />
                  <div class="caption">
                    <h4>
                      <span>Jun Ma</span>
                    </h4>
                    <p class="jobtitle">Financial consultant</p>
                    <p>
                      Operating partner of CVCapital, specialized in VC/PE
                      investment, private equity financing, and merger
                      consulting. He has completed a total transaction amount of
                      over 7 billion USD. He is widely connected in the
                      investment circle.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-bx" style="height: 282px !important">
                  <img
                    class="img-circle"
                    style="width: 120px !important; height: 120px !important"
                    src="img/team/xueweihua@2x.png"
                    alt="Weihua Xue"
                  />
                  <div class="caption">
                    <h4>
                      <span>Weihua Xue</span>
                    </h4>
                    <p class="jobtitle">Legal consultant</p>
                    <p>
                      Senior partner of SG&CO Lawyers Shanghai, director of the
                      technological research committee of internet and finance,
                      bachelor degree of law of Fudan University. Experienced in
                      foreign investment, foreign merger and acquisition,
                      banking finance, and governmental crisis PR.
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-3">
                <div class="team-bx">
                  <img
                    class="img-circle"
                    src="img/team/frankying.png"
                    alt="Frank Ying"
                  />
                  <div class="caption">
                    <h4>
                      <span>Frank Ying</span>
                      <a
                        href="https://www.linkedin.com/in/frank-ying-431a8/"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                    </h4>
                    <p class="jobtitle">Co-Founder</p>
                    <p>
                      SME of Gaming and IP Industry, Former VP of Business at
                      EPE, Former Managing Director at True Corp China, Former
                      BD Director at The9, Former Publishing Director at
                      In-Fusio, he had MS from CSULB.
                    </p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-sm-3">
                <div class="team-bx">
                  <img
                    class="img-circle"
                    src="img/team/xfhe.png"
                    alt="Xiaofeng He"
                  />
                  <div class="caption">
                    <h4>
                      <span>Xiaofeng He</span>
                      <a
                        href="http://www.linkedin.com/in/xiaofeng-he-6b5a452/"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                    </h4>
                    <p class="jobtitle">Chief Scientist</p>
                    <p>
                      Professor of Machine Learning and Big Data Analytics, East
                      China Normal University. Former Research Scientist at
                      Yahoo, Microsoft, Lawrence Berkeley National Lab; PhD at
                      Penn State University
                    </p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-sm-3">
                <div class="team-bx">
                  <img
                    class="img-circle"
                    src="img/team/DouglasWang.png"
                    alt="Douglas Wang"
                  />
                  <div class="caption">
                    <h4>
                      <span>Douglas Wang</span>
                      <a
                        href="http://www.linkedin.com/in/wangdou"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                    </h4>
                    <p class="jobtitle">Founder of JIC Capital</p>
                    <p>
                      Blockchain & Crypto Investor, Community Operations Expert,
                      Blockchain Robot Inventor, Founder of JIC Capital, Former
                      Sales Director at HP China
                    </p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-sm-3">
                <div class="team-bx">
                  <img
                    class="img-circle"
                    src="img/team/nadimuddin.png"
                    alt="nadimuddin"
                  />
                  <div class="caption">
                    <h4>
                      <span>NADIM UDDIN</span>
                      <a
                        href="http://linkedin.com/in/nadim-uddin-390431158"
                        class="linkedin-icon"
                        target="_blank"
                        ><img src="img/intro/in.png" alt=""
                      /></a>
                    </h4>
                    <p class="jobtitle">Growth Strategist</p>
                    <p>
                      Growth strategist for PCHAIN, Marketing Manager for VIDY,
                      Blockchain & Crypto Investor, Blockchain Marketing Expert,
                      entrepreneur, inventor in technology, blockchain
                      ecosystem, digital marketing, experience as Business
                      Analyst.
                    </p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-sm-3">
                <div class="team-bx">
                  <img
                    class="img-circle"
                    src="img/team/murrydiao.png"
                    alt="murrydiao"
                  />
                  <div class="caption">
                    <h4>
                      <span>MURRY DIAO</span>
                      <a
                        href="https://github.com/BigMurry"
                        class="github-icon"
                        target="_blank"
                        ><img src="img/intro/social-logo-githubw.png" alt=""
                      /></a>
                    </h4>
                    <p class="jobtitle">Senior Blockchain Developer</p>
                    <p>
                      Full stack developer and blockchain technology enthusiast,
                      Cryptokitty Chinese community core member, Founder of
                      LocalKitty
                    </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
