<!-- Contact Section -->
<section id="team" class="container content-section text-center">
  <div class="row team-container">
    <h2 class="title text-center">Core Team</h2>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/bingran.png" alt="people" height="88" width="88" />
        <div class="caption">
          <h4>Bing Ran
            <a href="https://www.linkedin.com/in/bing-ran-%E5%86%89%E5%85%B5-6651001/" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </h4>
          <p>Cryptocurrency Programmer, JVM-related programming language designer and developer, Architect for Internet Applications,
            CEO of iClass Information Technologies, Former IBM Architect</p>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/lizhang.png" alt="Li Zhang" height="88" width="88" />
        <div class="caption">
          <h4>Li Zhang
            <a href="https://www.linkedin.com/in/li-zhangc" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </h4>
          <p>Cryptocurrency Enthusiast, Blockchain Advocate, Former Managing Director of Consulting at Inspur Group, Former
            Senior Managing Consultant at IBM, IBM &amp; Open Group Certified Architect</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-bx">
        <img class="img-circle" src="img/frankying.png" alt="Frank Ying" height="88" width="88" />
        <div class="caption">
          <h4>Frank Ying
            <a href="https://www.linkedin.com/in/frank-ying-431a8/" class="linkedin-icon" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </h4>
          <p>SME of Gaming and IP Industry, VP of Business at EPE, Former Managing Director at True Corp China, Former BD Director
            at The9</p>

        </div>
      </div>
    </div>
  </div>

</section>