<!-- three Section -->
<section id="three">
  <div class="container">
    <div class="contContainer">
        <div class="row twoItem numberItem">
            <div class="row">        
                <div class="nleft col-xs-12">
                    <div class="newcont">
                        <h1>NO.3 Asset Wallet</h1>
                        <div class="word text-left">                            
                            Harvest Wallet is an Asset Wallet that supports ERC20, ERC721 and Singular types
                            tokens. It provides individual users with great convenience and a unified interface to
                            tokenize, manage and publish their own tokens, various fungible and non-fungible
                            assets, and third-party applications can plug-in the wallet too.
                        </div>                        
                        <p><i>1</i> Mint, manage and publish tokens</p>
                        <p><i>2</i> Support  third-party apps that generate wide range of assets.</p>
                        <p><i>3</i> It provides a programmable UI for third-party applications to develop a complete user experience</p>
                        <div class="mbtncenter"><a target="_blank" href="/wallet.html"><button class="btnlinear"><i class="iconlink"></i> <span>More about Harvest Wallet</span></button></a></div>
                    </div>
                </div>
                <div class="nright col-xs-12">
                    <img src="img/home/three.png" alt="three">
                </div>
            </div>      
        </div>
    </div>
  </div>
</section>