<!-- two Section -->
<section id="two">
  <div class="container">
    <div class="contContainer">
        <div class="row twoItem numberItem">
            <div class="row">        
                <div class="nleft col-xs-12">
                    <div class="newcont">
                        <h1>NO.2 Middleware-UDAP</h1>
                        <p>The fundamental concept of the Internet of Asset Protocol is to build a "Thick Protocol + Thin Application".</p>
                        <div class="word text-left">                            
                            Application developers only need to have sufficient knowledge and understand their
                            business logic and user experience, Therefore, the application is thinner and easier. A
                            thick protocol based on UDAP middleware helps them to accelerate the blockchain de
                            velopment, to secure the transactions, and to reduce the development costs.
                        </div>
                        <div class="mbtncenter"><a target="_blank" href="https://github.com/udap"><button class="btnlinear"><i class="iconlink"></i> <span>More about UDAP Middleware</span></button></a></div>
                    </div>
                </div>
                <div class="nright col-xs-12">
                    <img src="img/home/two.png" alt="two">
                </div>
            </div>      
        </div>
    </div>
  </div>
</section>