<!-- work Section -->
<section class="work work1">
      <div class="workitem">
         <div class="container">
           <div class="workitems workitem1">
               <div class="row wcont">
                   <div class="col-md-6 col-xs-12 text-left workl">
                       <div class="mtitle">
                           <div class="nav-heading">About</div>
                           <hr class="heading-hr">
                           <h1 class="heading-h1">HOW <span>UÐAP</span> WORKS?</h1>
                       </div>
                       <p>The fundamental concept of the Internet of Asset Protocol is to build 
                       a "Thick Protocol + Thin Application".</p>
                       <p>Application developers only need to have sufficient knowledge and understand their business logic and user experience, Therefore,  
                       the application is thinner and easier.  A thick protocol based on UDAP middleware helps them to accelerate the blockchain development, 
                       to secure the transactions,  and to reduce the development costs.</p>
                   </div>
                   <div class="col-md-6 col-xs-12 workr">
                       <img class="workimg" src="img/work/img1.png" alt="work">
                   </div>
               </div>
           </div>
         </div>
      </div>
</section>
<section class="work work2">
       <div class="workitem">
          <div class="container">
               <div class="workitems workitem2">
                    <div class="row worktwo swiperitem text-left">
                          <h3>UDAP provides multiple modules to speed up app development, such as:</h3>
                          <p>Token service, to manage the full life-cycle of asset-backed crypto-tokens. Applications can immediately register token-based assets on chain and offer built-in marketplace to their customers.</p>
                          <p>State channels service, to allow applications to conduct transactions mostly offline and secured by public blockchains, such as Ethereum.</p>
                          <p>Universal Asset wallet for versatile mobile user interface to deal with any token-backed assets that UDAP has helped to maintain.</p>
                          <div class="work2 row">
                              <div class="work2item work2-l col-md-6 col-xs-12"><img src="img/work/img2.png" alt="work"></div>
                              <div class="work2item work2-r col-md-6 col-xs-12">
                                  <h4>Token Service</h4>
                                  <p>UDAP Token Service manages the full life-cycle of asset-backed crypto-tokens, starting from tokenizing different asset dynamically.</p>
                                  <ul>
                                        <li>CreateTokenClass</li>
                                        <li>InitContract</li>
                                        <li>Mint</li>
                                        <li>Tokenize</li>
                                        <li>AddAsset</li>
                                    </ul>
                              </div>
                          </div>
                      </div>
                </div>
          </div>
      </div>
</section>
<section class="work work3">
      <div class="workitem">
        <div class="container">
           <div class="workitems workitem3">
              <div class="row swiperitem text-center work3">
                  <h3>State Channels Service</h3>
                  <p class="t">UDAP implements state channel technology to solve some of the most challenging issues with developing and running Blockchain-based applications:</p>
                  <div class="work2 row">
                      <div class="work2item work2-l col-md-6 col-xs-12"><img src="img/work/img3.png" alt="work"></div>
                      <div class="work2item work2-r col-md-6 col-xs-12">
                          <p><span>Scalability: </span>State channel technology treat blockchains as the dispute adjudication layer, or court system that usually is not involved in the minute-by-minute operations, but only plays its role when contracts need to be enforced and critical assets need to be secured. </p>
                          <p><span>Cost:</span> State channel allows transactions to run locally off blockchains, thus carries a cost model comparable to traditional Internet applications. </p>
                          <p><span>Privacy:</span> UDAP provides technology to let users control the visibility of their assets.</p> 
                          <p><span>Responsiveness:</span> State channels would enable blockchain supported applications to offer best possible UX together with unique features of decentralized ledgers. </p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</section>
<section class="work work4">
      <div class="workitem">
          <div class="container">
              <div class="workitems workitem4">
                  <div class="work4 row">
                      <div class="work2item work2-l col-md-6 col-xs-12"><img src="img/work/img4.png" alt="work"></div>
                      <div class="work2item work2-r col-md-6 col-xs-12">
                          <h2>Universal Asset Wallet</h2>
                          <p>Harvest Wallet provides individual users with great convenience and a unified interface to tokenize, manage and publish their own tokens, various fungible and non-fungible assets, and third-party applications can plug-in the wallet too.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>



