<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <!-- 移动端 -->
    <div class="mobileMain">
        {% include header.html %}
        {% include about.html %}
        {% include one.html %}
        {% include two.html %}
        {% include coreservice.html %}
        {% include three.html %}
        {% include four.html %}
        {% include teammobile.html %}
        {% include advisor.html %}
        {% include roadmap.html %}
        {% include investors.html %}
        {% include partners.html %}
        {% include press.html %}
        {% include footer.html %}
    </div>
    <!-- PC -->
    <div class="pcMain">
     <div class="swiper-container mainSwiper" id="mainSwiper">
       <div class="swiper-wrapper">
         <div class="swiper-slide swiper-no-swiping" data-hash="home">{% include header.html %}</div>
         <div class="swiper-slide swiper-no-swiping" data-hash="about">{% include about.html %}</div>
         <div class="swiper-slide swiper-no-swiping" data-hash="one">{% include one.html %}</div>
         <div class="swiper-slide swiper-no-swiping" data-hash="two">{% include two.html %}</div>
         <div class="swiper-slide swiper-no-swiping">{% include coreservice.html %}</div>         
         <div class="swiper-slide swiper-no-swiping" data-hash="three">{% include three.html %}</div>
         <div class="swiper-slide swiper-no-swiping" data-hash="four">{% include four.html %}</div>
         <div class="swiper-slide swiper-no-swiping" data-hash="team">{% include teamOne.html %}</div>
         <div class="swiper-slide swiper-no-swiping">{% include teamTwo.html %}</div>
         <div class="swiper-slide swiper-no-swiping">{% include advisor.html %}</div>
         <div class="swiper-slide swiper-no-swiping"  data-hash="roadmap">{% include roadmap.html %}</div>
         <div class="swiper-slide swiper-no-swiping"  data-hash="inverstor">{% include investors.html %}</div>
         <div class="swiper-slide swiper-no-swiping">{% include partners.html %}</div>
         <div class="swiper-slide swiper-no-swiping">{% include press.html %}</div>
         <div class="swiper-slide swiper-no-swiping" data-hash="contact">{% include footer.html %}</div>
       </div>
       <div class="swiper-pagination mainPagination" id="mainPagination"></div>
       <div class="swiper-scrollbar"></div>
     </div>   
    </div>
    {% include js.html %}
    </body>
</html>
