p {
  line-height: normal;
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  font-weight: 300;
  background: #000;
  min-width: 1280px;
}
a {
  color: white;
}
.zsb__ce {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.zsb__wrap {
  width: 1280px;
  margin: 0 auto;
  padding-top: 174px;
}
.zsb-wrap-content {
  padding-left: 88px;
  padding-right: 88px;
}
.zsb__ce .l .icon {
  width: 100px;
  height: 104px;
  margin-right: 30px;
}
.zsb__ce .l {
  display: flex;
  float: leftl;
  position: relative;
}
.zsb__ce .l .judap p:nth-child(1) {
  font-size: 42px;
  font-weight: bold;
}
.zsb__ce .l .judap p:nth-child(2) {
  font-weight: 300;
}
.zsb__ce .l .judap p {
  font-size: 28px;
  padding-bottom: 0;
  line-height: normal;
}
.zsb__ce .r {
  float: right;
  padding-top: 10px;
  position: relative;
}
.zsb__ce .r div {
  border-radius: 3px;
  width: 30px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  float: left;
}
.zsb-explain .l {
  width: 565px;
  height: 324px;
  font-size: 18px;
}
.zsb-explain .l p {
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 24px;
}
.zsb-explain {
  position: relative;
}
.zsb-explain .r {
  position: absolute;
  top: -144px;
  right: -59px;
}
.zsb-a-ios .l {
  border: 1px solid rgba(255, 255, 255, 0.3);
  float: left;
  display: flex;
  padding: 15px 20px;
  margin-right: 30px;
  position: relative;
}
.zsb-a-ios .r {
  border: 1px solid rgba(255, 255, 255, 0.3);
  float: left;
  display: flex;
  padding: 18px 20px;
}
.zsb-a-ios .l img {
  margin-right: 32px;
  width: 50px;
  height: 50px;
  /* margin-top: 3px; */
}
.zsb-a-ios .r img {
  margin-right: 32px;
  width: 39px;
  height: 39px;
  /* margin-top: 7px; */
}
.zsb-content {
  /* background: url("../img/bj.png"); */
  padding-top: 99px;
}
.zsb-a-ios {
  height: 83px;
  margin-top: 100px;
  cursor: pointer;
}

.zsb-content .top {
  display: flex;
  /* padding-top: 100px; */
  margin-bottom: 138px;
}
.zsb-content .top .l {
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.19);
  margin-right: 50px;
}
.zsb-content .top .c {
  width: 360px;
  height: 2px;
  background: rgba(255, 255, 255, 0.19);
  margin-right: 30px;
}
.zsb-content .top .r {
  color: rgba(255, 255, 255, 0.19);
  margin-top: -11px;
}
.banner-content {
  display: flex;
}
.banner-content .l {
  width: 520px;
  height: 392px;
}
.banner-content .r p {
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 24px;
  /* letter-spacing: 2px; */
}
.banner-content .r {
  padding-top: 32px;
  padding-left: 50px;
  position: relative;
}

.banner-content .r .certificate {
  position: absolute;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.06);
  top: -22px;
  right: -94px;
  font-weight: 600;
}
.zsb-bg {
  margin-top: 109px;
  background: url("../img/b-bg.png");
  height: 525px;
  width: 100%;
  background-size: 100% 100%;
  background-position: center top;
}
.zsb-bg .title {
  font-size: 48px;
  text-align: center;
  padding-top: 128px;
}
.zsb-bg ul {
  display: flex;
  width: 1015px;
  margin: 92px auto;
}
.zsb-bg ul li img {
  height: 60px;
  width: auto;
}
.zsb-bg ul li {
  list-style: none;
  margin-right: 31px;
}
.zsb-foot {
  font-size: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  margin-top: 21px;
  font-weight: 600;
}
.zsb-bg .zsb-title {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  padding-top: 128px;
}
.navbar {
  background: black;
}

/* 长度 */

.zsb-banner1-width {
  width: 584px;
  padding-top: 70px !important;
}
.zsb-banner2-width {
  width: 594px;
}
.zsb-banner3-width {
  width: 584px;
}

/* 英文 zsben */

.zsben-cert {
  padding-top: 24px;
}
.zsben-explain .l p {
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 30px;
}
.zsben-padding {
  padding-bottom: 10px;
}
.banner-content-en .r p {
  font-size: 16px;
  line-height: 30px;
}
.banner-content-en-line .r p {
  line-height: 30px;
}
.en-body {
  height: auto;
}
.banner3-en p {
  margin-top: 25px !important;
  line-height: 30px !important;
}

/* 二维码 */

.zsbanz-code {
  width: 390px;
  height: 475px;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  display: none;
  margin-left: -159.5px;
  margin-top: -237.5px;
}
.zsbanz-code img {
  width: 100% !important;
  height: 100% !important;
}
#close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 23px;
  top: 20px;
}
.zsb-banner1-width-en {
  padding-top: 41px !important;
}
.certificate-en {
  top: -59px !important;
}
/* 手机端自适应 */
@media screen and (max-width: 768px) {
  .zsb-wrap-content {
    padding: 0;
  }
  .judap p {
    font-size: 22px !important;
  }
  .zsb__ce {
    display: inline-grid;
  }
  body {
    min-width: 100%;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .zsb__wrap {
    width: 90%;
  }
  .zsb-explain .l {
    width: auto;
    height: auto;
  }
  .zsb-explain .r {
    position: unset;
  }
  .zsb-explain .r img {
    width: 100%;
    height: auto;
  }
  .zsb-a-ios {
    margin-top: 0;
  }
  .zsb-a-ios .r {
    margin: 15px 0;
  }
  .banner-content {
    display: inline-grid;
  }
  .zsb-banner2-width {
    width: 100%;
  }
  .zsb-banner1-width {
    width: 100%;
  }
  .banner-content .r {
    padding-left: 0 !important;
  }
  .banner-content .l {
    width: 100% !important;
    height: auto !important;
    position: unset !important;
  }
  .zsb-banner3-width {
    width: 100%;
  }
  .zsb-bg {
    background: black;
    height: auto;
  }
  .zsb-bg ul {
    display: inline-grid;
    width: 100%;
    padding: 0;
  }

  .zsb-bg ul li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 25px;
  }
  .zsb-bg ul li img {
    max-width: 100%;
  }
  .container-fluid {
    overflow: hidden;
  }
  .zsb-content .top {
    display: none;
  }
  .navbar-header {
    padding: 0 15px;
  }
  .navbar-header .to-en{
    right: 30px;
    top: 18px;
  }
  .zsbanz-code {
    margin-left: -205.5px;
  }
}

.zsb__apps {
  width: 100%;
  min-height: 300px;
  margin-bottom: 50px;
  /* background: #fff; */
}

.zsb__apps .container{
  padding: 0!important;
}

.apps .col-md-3 {
  padding: 0;
}
.apps .demoImg {
  overflow: hidden;
  margin-top: 34px;
  text-align: center;
}
.apps .demoImg a {
  text-decoration: none;
}
.apps .demoImg img {
  display: inline-block;
}
.apps .demoImg .bigicon {
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
}
.apps .demoImg1 .bigicon {
  background: url(../../img/demo/sigular/bigicon1.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg2 .bigicon {
  background: url(../../img/demo/sigular/bigicon2.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg3 .bigicon {
  background: url(../../img/demo/sigular/bigicon3.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg4 .bigicon {
  background: url(../../img/demo/sigular/bigicon4.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg5 .bigicon {
  background: url(../../img/demo/sigular/bigicon5.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg6 .bigicon {
  background: url(../../img/demo/sigular/bigicon6.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg h2 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 13px;
}
.apps .demoImg p {
  max-width: 200px;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.apps .demoImg .bigpra2 {
  max-width: 288px;
}
.apps .demoImg .bigpra4 {
  max-width: 217px;
}
.apps .demoImg i {
  display: inline-block;
  margin-bottom: 0px;
  width: 22px;
  height: 18px;
}
.apps .demoImg:hover {
  cursor: pointer;
}
.apps .active1 .bigicon,
.apps .demoImg1:hover .bigicon {
  background: url(../../../img/demo/sigular/hbigicon1.png) no-repeat center center;
  background-size: cover;
}
.apps .active2 .bigicon,
.apps .demoImg2:hover .bigicon {
  background: url(../../img/demo/sigular/hbigicon2.png) no-repeat center center;
  background-size: cover;
}
.apps .active3 .bigicon,
.apps .demoImg3:hover .bigicon {
  background: url(../../img/demo/sigular/hbigicon3.png) no-repeat center center;
  background-size: cover;
}
.apps .active4 .bigicon,
.apps .demoImg4:hover .bigicon {
  background: url(../../img/demo/sigular/hbigicon4.png) no-repeat center center;
  background-size: cover;
}
.apps .active5 .bigicon,
.apps .demoImg5:hover .bigicon {
  background: url(../../img/demo/sigular/hbigicon5.png) no-repeat center center;
  background-size: cover;
}
.apps .active6 .bigicon,
.apps .demoImg6:hover .bigicon {
  background: url(../../img/demo/sigular/hbigicon6.png) no-repeat center center;
  background-size: cover;
}
.apps .demoImg1 i {
  background: url(../../img/demo/sigular/iconwhite.png) no-repeat left top;
  background-size: cover;
}
.apps .demoImg2 i {
  background: url(../../img/demo/sigular/iconwhite.png) no-repeat left top;
  background-size: cover;
}
.apps .demoImg3 i {
  background: url(../../img/demo/sigular/iconwhite.png) no-repeat left top;
  background-size: cover;
}
.apps .demoImg4 i {
  background: url(../../img/demo/sigular/iconwhite.png) no-repeat left top;
  background-size: cover;
}
.apps .demoImg5 i {
  background: url(../../img/demo/sigular/iconwhite.png) no-repeat left top;
  background-size: cover;
}
.apps .demoImg6 i {
  background: url(../../img/demo/sigular/iconwhite.png) no-repeat left top;
  background-size: cover;
}
.apps .active1 h2,
.apps .active1 p,
.apps .demoImg1:hover h2,
.apps .demoImg1:hover p {
  color: #59b6b0;
}
.apps .active2 h2,
.apps .active2 p,
.apps .demoImg2:hover h2,
.apps .demoImg2:hover p {
  color: #ad6cd4;
}
.apps .active3 h2,
.apps .active3 p,
.apps .demoImg3:hover h2,
.apps .demoImg3:hover p {
  color: #4473cd;
}
.apps .active4 h2,
.apps .active4 p,
.apps .demoImg4:hover h2,
.apps .demoImg4:hover p {
  color: #e15555;
}
.apps .active5 h2,
.apps .active5 p,
.apps .demoImg5:hover h2,
.apps .demoImg5:hover p {
  color: #4473cd;
}
.apps .active6 h2,
.apps .active6 p,
.apps .demoImg6:hover h2,
.apps .demoImg6:hover p {
  color: #0090de;
}
.apps .active1 i,
.apps .demoImg1:hover i {
  background: url(../../img/demo/sigular/icon1.png) no-repeat left top;
  background-size: cover;
}
.apps .active2 i,
.apps .demoImg2:hover i {
  background: url(../../img/demo/sigular/icon2.png) no-repeat left top;
  background-size: cover;
}
.apps .active3 i,
.apps .demoImg3:hover i {
  background: url(../../img/demo/sigular/icon3.png) no-repeat left top;
  background-size: cover;
}
.apps .active4 i,
.apps .demoImg4:hover i {
  background: url(../../img/demo/sigular/icon4.png) no-repeat left top;
  background-size: cover;
}
.apps .active5 i,
.apps .demoImg5:hover i {
  background: url(../../img/demo/sigular/icon5.png) no-repeat left top;
  background-size: cover;
}
.apps .active6 i,
.apps .demoImg6:hover i {
  background: url(../../img/demo/sigular/icon6.png) no-repeat left top;
  background-size: cover;
}
.apps .demoCont {
  background: #000 url(../../img/demo/demo.png) no-repeat right center;
  background-size: 100% 100%;
}

@media (min-width: 768px) {
  .apps .demoImg h2 {
    /* font-size: 24px; */
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
  }
  .apps .demoImg p {
    max-width: 200px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}